@using EImece.Domain.Helpers;
@using EImece.Domain.Entities;
@model  BaseContent

@{
    var actionNameDelete = "Delete";
    var actionNameEdit = "SaveOrEdit";
    var controllerName = "";

    if (Model is Product)
    {
        Product product = (Product)Model;
        controllerName = "Products";
    }
    else if (Model is Story)
    {
        Story item = (Story)Model;
        controllerName = "Stories";
    }
    else if (Model is Menu)
    {
        Menu item = (Menu)Model;
        controllerName = "Menus";
    }
    else if (Model is StoryCategory)
    {
        StoryCategory item = (StoryCategory)Model;
        controllerName = "StoryCategories";
    }
    else if (Model is ProductCategory)
    {
        ProductCategory item = (ProductCategory)Model;
        controllerName = "ProductCategories";
    }


}
<div class="row">
    <div class="col-md-12">
        <b>
            @Html.DisplayFor(model => model.Name)
        </b>
    </div>
    <div class="col-md-12">
        @GeneralHelper.GetDescription(Model.Description, 200)
        <br />
        @Html.ActionLink("Edit", actionNameEdit, controllerName, new { id = Model.Id }, new { @class = "btn btn-primary btn-sm     glyphicon glyphicon-pencil glyphicon-white", @target = "_blank" })
        @Html.ActionLink("Delete", actionNameDelete, controllerName, new { id = Model.Id }, new { @class = "btn btn-danger btn-sm    glyphicon glyphicon-trash glyphicon-white", @target = "_blank" })
    </div>
</div>
