<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <variable name="LogFileName" value="EImeceLog" />
  <variable name="LogFileExtension" value="log" />
  <!-- Under media/ so IIS only needs write ACL on media (same as uploads). HTTP access is denied via media/Web.config. -->
  <variable name="LogsLocation" value="${basedir}/media/logs" />

  <variable name="verbose" value="${longdate} | ${uppercase:${level}} | ${machinename} | ${processid} | ${processname} | ${callsite:filename=true} | ${logger} | ${message}  | ${exception} | ${exception:format=StackTrace} " />

  <variable name="jsonLayout" value="{&quot;timestamp&quot;:&quot;${longdate}&quot;,&quot;level&quot;:&quot;${uppercase:${level}}&quot;,&quot;logger&quot;:&quot;${logger}&quot;,&quot;message&quot;:&quot;${message}&quot;,&quot;correlationId&quot;:&quot;${scopeproperty:item=CorrelationId}&quot;,&quot;traceId&quot;:&quot;${scopeproperty:item=TraceId}&quot;,&quot;spanId&quot;:&quot;${scopeproperty:item=SpanId}&quot;,&quot;requestPath&quot;:&quot;${scopeproperty:item=RequestPath}&quot;,&quot;httpMethod&quot;:&quot;${scopeproperty:item=HttpMethod}&quot;,&quot;clientIp&quot;:&quot;${scopeproperty:item=ClientIp}&quot;,&quot;userId&quot;:&quot;${scopeproperty:item=UserId:whenEmpty=${identity}}&quot;,&quot;exception&quot;:&quot;${exception:format=tostring}&quot;}" />

  <targets async="true">
    <!-- Asynchronous Database Target Wrapper (prevents blocking HTTP request threads during DB stalls/locks) -->
    <target xsi:type="AsyncWrapper"
            name="asyncDatabase"
            queueLimit="10000"
            timeToSleepBetweenBatches="50"
            batchSize="100"
            overflowAction="Discard">
      <target xsi:type="Database"
              name="database"
              keepConnection="false"
              useTransactions="false"
              dbProvider="System.Data.SqlClient"
              connectionStringName="EImeceDbConnection"
              commandText="INSERT INTO AppLogs (EventDateTime, EventLevel, UserName, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) VALUES (@EventDateTime, @EventLevel, @UserName, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)">
        <parameter name="@EventDateTime" layout="${date:s}" />
        <parameter name="@EventLevel" layout="${uppercase:${level}}" />
        <parameter name="@UserName" layout="${identity:whenEmpty=${environment-user}}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@EventMessage" layout="${message}" />
        <parameter name="@ErrorSource" layout="${logger}" />
        <parameter name="@ErrorClass" layout="${callsite:className=true:includeSourcePath=false:methodName=false:cleanNamesOfAnonymousDelegates=true}:${callsite-linenumber}" />
        <parameter name="@ErrorMethod" layout="" />
        <parameter name="@ErrorMessage" layout="${exception}" />
        <parameter name="@InnerErrorMessage" layout="${exception:format=StackTrace}" />
      </target>
    </target>

    <!-- High-performance asynchronous file targets for centralized log shipping & local diagnostics -->
    <target xsi:type="AsyncWrapper"
            name="asyncJsonFile"
            queueLimit="10000"
            timeToSleepBetweenBatches="50"
            batchSize="100"
            overflowAction="Discard">
      <target name="jsonFileTarget" xsi:type="File"
                 layout="${jsonLayout}"
                 fileName="${LogsLocation}\${LogFileName}.json"
                 archiveFileName="${LogsLocation}\${LogFileName}.{#####}.json"
                 archiveAboveSize="5000000" maxArchiveFiles="10"
                 archiveNumbering="Rolling"
                 createDirs="true"
                 concurrentWrites="true"
                 archiveEvery="Day" />
    </target>

    <target xsi:type="AsyncWrapper"
            name="asyncFlatFile"
            queueLimit="10000"
            timeToSleepBetweenBatches="50"
            batchSize="100"
            overflowAction="Discard">
      <target name="flatFileTarget" xsi:type="File"
                 layout="${verbose}"
                 fileName="${LogsLocation}\${LogFileName}.${LogFileExtension}"
                 archiveFileName="${LogsLocation}\${LogFileName}.{#####}.${LogFileExtension}"
                 archiveAboveSize="5000000" maxArchiveFiles="10"
                 archiveNumbering="Rolling"
                 createDirs="true"
                 concurrentWrites="true"
                 archiveEvery="Day" />
    </target>

    <target xsi:type="AsyncWrapper"
            name="asyncEfSqlFile"
            queueLimit="10000"
            timeToSleepBetweenBatches="50"
            batchSize="100"
            overflowAction="Discard">
      <target name="efSqlFileTarget" xsi:type="File"
                 layout="${longdate} | ${message}"
                 fileName="${LogsLocation}\EntityFrameworkSql.log"
                 archiveFileName="${LogsLocation}\EntityFrameworkSql.{#####}.log"
                 archiveAboveSize="5000000" maxArchiveFiles="10"
                 archiveNumbering="Rolling"
                 createDirs="true"
                 concurrentWrites="true"
                 archiveEvery="Day" />
    </target>
  </targets>

  <rules>
    <!-- Suppress noisy AutoMapper license WARN that is allowed for development (LuckyPennySoftware) -->
    <logger name="LuckyPennySoftware.AutoMapper.License" maxLevel="Warn" final="true" />
    <!-- Gated payment debugging rules (disabled by default) -->
    <logger name="EImece.Domain.Services.IyzicoService" minlevel="Trace" writeTo="asyncJsonFile" enabled="false" />
    <logger name="EImece.Controllers.PaymentController" minlevel="Trace" writeTo="asyncJsonFile" enabled="false" />

    <!-- Entity Framework generated SQL routed strictly to file target to avoid recursive SQL-in-SQL loops -->
    <logger name="EntityFramework.Sql" minlevel="Debug" writeTo="asyncEfSqlFile" final="true" />

    <!-- Errors and Warnings asynchronously recorded in AppLogs database table for administrative review -->
    <logger name="*" minlevel="Warn" writeTo="asyncDatabase" enabled="true" />

    <!-- Application logs (Info and above) asynchronously emitted to JSON and flat-file targets for log aggregation -->
    <logger name="*" minlevel="Info" writeTo="asyncFlatFile,asyncJsonFile" enabled="true" />
  </rules>

</nlog>