<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  
    <variable name="LogFileName" value="EImeceLog"/>
    <variable name="LogFileExtension" value="log"/>
    <variable name="LogsLocation" value="C:\temp" />
       

  <targets async="true">
  
      <target name="console" xsi:type="Console" />
      <target name="flatFileTarget" xsi:type="File"
              layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} | ${message}"
              fileName="${LogsLocation}\${LogFileName}.${LogFileExtension}"
              archiveFileName="${LogsLocation}\${LogFileName}.{#####}.${LogFileExtension}"
              archiveAboveSize="500000" maxArchiveFiles="10"
              archiveNumbering="Rolling"
              createDirs="true"
              concurrentWrites="true"
              archiveEvery="Day"
              />
              
   

  </targets>

  <rules>
      <logger name="*"  minlevel="Trace" writeTo="flatFileTarget" />
      <logger name="*"  minlevel="Trace" writeTo="console" />
  </rules>

</nlog>