<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <variable name="LogFileName" value="EImeceLog" />
  <variable name="LogFileExtension" value="log" />
  <!-- Under media/ so IIS only needs write ACL on media (same as uploads). HTTP access is denied via media/Web.config. -->
  <variable name="LogsLocation" value="${basedir}/media/logs" />

  <variable name="verbose" value="${longdate} | ${uppercase:${level}} | ${machinename} | ${processid} | ${processname} | ${callsite:filename=true} | ${logger} | ${message}  | ${exception} | ${exception:format=StackTrace} " />

  <variable name="jsonLayout" value="{&quot;timestamp&quot;:&quot;${longdate}&quot;,&quot;level&quot;:&quot;${uppercase:${level}}&quot;,&quot;logger&quot;:&quot;${logger}&quot;,&quot;message&quot;:&quot;${message}&quot;,&quot;correlationId&quot;:&quot;${scopeproperty:item=CorrelationId:whenEmpty=${aspnet-request-headers:HeaderNames=X-Correlation-Id}}&quot;,&quot;traceId&quot;:&quot;${scopeproperty:item=TraceId}&quot;,&quot;spanId&quot;:&quot;${scopeproperty:item=SpanId}&quot;,&quot;requestPath&quot;:&quot;${aspnet-request-url:IncludeQueryString=false}&quot;,&quot;httpMethod&quot;:&quot;${aspnet-request-method}&quot;,&quot;clientIp&quot;:&quot;${aspnet-request-ip}&quot;,&quot;userId&quot;:&quot;${aspnet-user-identity}&quot;,&quot;exception&quot;:&quot;${exception:format=tostring}&quot;}" />

  <targets>
    <target xsi:type="Database"
             name="database"
             keepConnection="true"
             useTransactions="true"
             dbProvider="System.Data.SqlClient"
             connectionStringName="EImeceDbConnection"
             commandText="INSERT INTO AppLogs (EventDateTime, EventLevel, UserName, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) VALUES (@EventDateTime, @EventLevel, @UserName, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)">
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${uppercase:${level}}" />
      <parameter name="@UserName" layout="${aspnet-user-identity}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@ErrorSource" layout="${logger}" />
      <parameter name="@ErrorClass" layout="${callsite:className=true:includeSourcePath=false:methodName=false:cleanNamesOfAnonymousDelegates=true}:${callsite-linenumber}" />
      <parameter name="@ErrorMethod" layout="" />
      <parameter name="@ErrorMessage" layout="${exception}" />
      <parameter name="@InnerErrorMessage" layout="${exception:format=StackTrace}" />
    </target>

    <!-- add your targets here -->

    <target name="jsonFileTarget" xsi:type="File"
               layout="${jsonLayout}"
               fileName="${LogsLocation}\${LogFileName}.json"
               archiveFileName="${LogsLocation}\${LogFileName}.{#####}.json"
               archiveAboveSize="500000" maxArchiveFiles="10"
               archiveNumbering="Rolling"
               createDirs="true"
               concurrentWrites="true"
               archiveEvery="Day" />

    <target name="flatFileTarget" xsi:type="File"
               layout="${verbose}"
               fileName="${LogsLocation}\${LogFileName}.${LogFileExtension}"
               archiveFileName="${LogsLocation}\${LogFileName}.{#####}.${LogFileExtension}"
               archiveAboveSize="500000" maxArchiveFiles="10"
               archiveNumbering="Rolling"
               createDirs="true"
               concurrentWrites="true"
               archiveEvery="Day" />

    <target name="efSqlFileTarget" xsi:type="File"
               layout="${longdate} | ${message}"
               fileName="${LogsLocation}\EntityFrameworkSql.log"
               archiveFileName="${LogsLocation}\EntityFrameworkSql.{#####}.log"
               archiveAboveSize="500000" maxArchiveFiles="10"
               archiveNumbering="Rolling"
               createDirs="true"
               concurrentWrites="true"
               archiveEvery="Day" />
  </targets>

  <rules>
    <!-- Log IyzicoService to database -->
    <logger name="EImece.Domain.Services.IyzicoService" minlevel="Trace" writeTo="database" enabled="false" />
    <logger name="EImece.Controllers.PaymentController" minlevel="Trace" writeTo="database" enabled="false" />

    <!-- Entity Framework generated SQL (gated in code by EnableEfSqlLogging) -->
    <!-- Route EF SQL to the database target only (file logging off) -->
    <logger name="EntityFramework.Sql" minlevel="Debug" writeTo="database" final="true" />

    <!-- Database-only logging for the IIS-deployed app (file targets left defined but unused) -->
    <logger name="*" minlevel="Info" writeTo="database" enabled="true" />
  </rules>

</nlog>