@model EImece.Domain.Models.FrontModels.ProductsSearchResult

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>

@Model.Products.Count
<br />
<br />
@Model.ProductCategories.Count