@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;

@model PaginatedList<Product>

@{
    ViewBag.Title = "Index";
    PaginatedList<Product> products = Model;
}

<h2>Index</h2>

@Html.BootstrapPager(Model.PageIndex,
    index => Url.Action("Index", "Products", new { page = index }),
    Model.TotalCount, Model.PageSize, numberOfLinks: 10)

@Html.Partial("_PagingPartial", products)
<div class="row">
    @foreach (var item in products)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.DisplayFor(modelItem => item, "MainPageProduct")
        </div>
    }
</div>
@Html.Partial("_PagingPartial", products)
 