@using GenericRepository;
@using EImece.Domain.Entities;
@model PaginatedList<Product>

@{
    ViewBag.Title = "Index";
    PaginatedList<Product> products = Model;
}

<h2>Index</h2>

@Html.Partial("_PagingPartial", products)
@foreach (var item in products)
{
    <div>
        @Html.DisplayFor(modelItem => item)
    </div>
}
@Html.Partial("_PagingPartial", products)
 