@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Helpers;
@using Resources;
@model ProductIndexViewModel

@{
    ViewBag.Title = String.Format("{0} {1}",Model.CompanyName.SettingValue, Resource.Products);
    PaginatedList<Product> products = Model.Products;
    ViewBag.Description = String.Join(",", products.Select(r => r.Name)).ToStr(150);

}

<h2>Index</h2>


@Html.BootstrapPager(products.PageIndex,
    index => Url.Action("Index", "Products", new { page = index }),
    products.TotalCount, products.PageSize, numberOfLinks: 10)

@Html.Partial("_PagingPartial", products)
<div class="row">
    @foreach (var item in products)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.DisplayFor(modelItem => item, "MainPageProduct")
        </div>
    }
</div>
@Html.Partial("_PagingPartial", products)
 