@model EImece.Domain.Models.FrontModels.SimiliarProductTagsViewModel
@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    PaginatedList<ProductTag> productTags = Model.ProductTags;
    var tag = Model.Tag;
    ViewBag.Title = tag.GetSeoTitle();
    ViewBag.Description = String.Join(",", productTags.Select(r => r.Product.Name)).ToStr(150);
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isUserAuthenticated = User.Identity.IsAuthenticated && ApplicationConfigs.IsEditLinkEnable;
}

 
 
<div class="container potrfolio-container">

    <section class="title">
        <h2>
        @tag.Name

        @if (isUserAuthenticated)
        {
            @Html.ActionLink(Resource.AdminEdit, "saveoredit", "tags", new { @id = tag.Id, @area = "admin" }, new { @class = "adminPageLink" })
        }
        
        </h2>
    </section>


 
    <div class="clearfix"></div>



    @if (productTags.TotalCount > productTags.PageSize)
    {
        <div class="pagination-container">
            <nav class="pagination">
                <div class="paging">

                    @Html.BootstrapPager(productTags.PageIndex,
    index => Url.Action("Tag", "Products", new { page = index }),
    productTags.TotalCount, productTags.PageSize, numberOfLinks: 10)

                </div>
            </nav>
        </div>

    }


    <div id="portfolio-wrapper" class="pf-col3" style="position: relative; height: 972.843px;">


        @foreach (var item in productTags)
        {
              @Html.DisplayFor(modelItem => item.Product, "Product")
        }
    </div>
</div>