@model EImece.Domain.Models.FrontModels.SimiliarProductTagsViewModel
@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    PaginatedList<ProductTag> productTags = Model.ProductTags;
    var tag = Model.Tag;
    ViewBag.Title = tag.GetSeoTitle();
    ViewBag.Description = String.Join(",", productTags.Select(r => r.Product.Name)).ToStr(150);


    Layout = "~/Views/Shared/_Layout.cshtml";

    var isUserAuthenticated = User.Identity.IsAuthenticated && Settings.IsEditLinkEnable;
}

<h2>@tag.Name
    @if (isUserAuthenticated)
    {
        @Html.ActionLink(Resource.AdminEdit, "saveoredit", "tags", new { @id = tag.Id, @area = "admin" }, new { @class = "adminPageLink" })
    }
    </h2>

@Html.BootstrapPager(productTags.PageIndex,
    index => Url.Action("Tag", "Products", new { page = index }),
    productTags.TotalCount, productTags.PageSize, numberOfLinks: 10)



<div class="row">
    @foreach (var item in productTags)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.DisplayFor(modelItem => item.Product, "MainPageProduct")
        </div>
    }
</div>