@{
    Layout = null;
}
 <!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Erayweb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Angelic Silk" />
    <meta name="description" content="We are preparing the best mulberry silk products for you.>

    <!-- title  -->
    <title>Angelic Silk</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/Content/underconst/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/underconst/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/underconst/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/Content/underconst/css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="/Content/underconst/search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="/Content/underconst/quform/css/base.css">

    <!-- custom css -->
    <link href="/Content/underconst/css/styles-2.css" rel="stylesheet" id="colors">
    
    
     <!--Whatsapp-->
    <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+905343334407", // WhatsApp numaranızı buraya girin
            call_to_action: "Hello, Merhaba", // Görünecek metin
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
    </script>
    <!--End of Whatsapp-->

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        

        <!-- start slideshow-->
        <div class="container-fluid full-screen">
            <div class="row slider-fade">
                <div class="owl-carousel owl-theme width-100">
                    <div class="text-center item bg-img" data-overlay-dark="5" data-background="/Content/underconst/img/slider/slider001.jpg">
                        <div class="container height-100">
                            <div class="display-table height-100 width-100">
                                <div class="display-table-cell vertical-align-middle caption">
                                    <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                        <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We are preparing the best products for you.<br>Get a %10 off by signing up for our mailing list.</h3>
                                        <h1 class="text-white">Angelic Silk</h1>
                                        <p>Phone: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>
                                        
                                        <a href="/Content/underconst/submit.html" class="butn medium theme">
                                            <span class="alt-font">E-mail Submit</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                        </a>
                                        
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center item bg-img" data-overlay-dark="5" data-background="/Content/underconst/img/slider/slider002.jpg">
                        <div class="container height-100">
                            <div class="display-table height-100 width-100">
                                <div class="display-table-cell vertical-align-middle caption">
                                    <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                        <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">Sizler için en iyi ürünleri hazırlıyoruz.<br>%10 indirim için mail adresinizi kaydediniz.</h3>
                                        <h1 class="text-white">Angelic Silk</h1>
                                         <p>Tel: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>
                                         
                                         <a href="/Content/underconst/submit.html" class="butn medium theme">
                                            <span class="alt-font">E-mail Ekle</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

                </div>
            </div>
        </div>
        <!-- end slideshow-->

 


         <!-- start footer section -->
        <footer class="footer-style10">

           

            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom">
                            <div class="social-icons">
                                <ul>
                                <li><a href="https://www.instagram.com/angelicsilk_official/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/angelic.silk.1" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right xs-text-center">
                             <p class="xs-margin-5px-top xs-font-size13">Angelic Silk &copy; 2020</p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="/Content/underconst/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/Content/underconst/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/Content/underconst/js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="/Content/underconst/js/nav-menu.js"></script>

    <!-- serch -->
    <script src="/Content/underconst/search/search.js"></script>

    <!-- tab -->
    <script src="/Content/underconst/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="/Content/underconst/js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/Content/underconst/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="/Content/underconst/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="/Content/underconst/js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="/Content/underconst/js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/Content/underconst/js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="/Content/underconst/js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="/Content/underconst/js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="/Content/underconst/js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="/Content/underconst/js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="/Content/underconst/js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="/Content/underconst/js/prism.js"></script>

    <!-- custom scripts -->
    <script src="/Content/underconst/js/main.js"></script>

    <!-- quform plugins js -->
    <script src="/Content/underconst/quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="/Content/underconst/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>