<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="16.2.0" targetFramework="net481" />
  <package id="Azure.Core" version="1.60.0" targetFramework="net481" />
  <package id="Azure.Monitor.OpenTelemetry.Exporter" version="1.8.3" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net481" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights" version="3.1.2" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net481" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.TimeProvider" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.10" targetFramework="net481" />
  <package id="Microsoft.Identity.Client" version="4.87.0" targetFramework="net481" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.87.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.22.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.22.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="8.22.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.22.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.3.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.3.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.3.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform" version="2.3.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.3.3" targetFramework="net481" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.8.1" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net481" />
  <package id="MSTest.Analyzers" version="4.3.3" targetFramework="net481" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="4.3.3" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="4.3.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="NLog" version="6.1.4" targetFramework="net481" />
  <package id="NLog.Extensions.Logging" version="6.1.4" targetFramework="net481" />
  <package id="OpenTelemetry" version="1.17.0" targetFramework="net481" />
  <package id="OpenTelemetry.Api" version="1.17.0" targetFramework="net481" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.17.0" targetFramework="net481" />
  <package id="OpenTelemetry.PersistentStorage.Abstractions" version="1.1.1" targetFramework="net481" />
  <package id="OpenTelemetry.PersistentStorage.FileSystem" version="1.1.1" targetFramework="net481" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.ClientModel" version="1.14.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="10.0.10" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.10" targetFramework="net481" />
  <package id="System.Formats.Asn1" version="10.0.10" targetFramework="net481" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="10.0.10" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Memory.Data" version="10.0.10" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="10.0.10" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.ProtectedData" version="10.0.10" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="10.0.10" targetFramework="net481" />
  <package id="System.Text.Json" version="10.0.10" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net481" />
</packages>