body {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 3px;
    padding-right: 3px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.main-page-product img {
    width: 100%;
    height: auto;
}

.main-page-product h3,
.main-page-product h4 {
    margin-top: 0;
}

input.GridOrderingTextbox {
    max-width: 30px;
    width: 35px;
    margin-left: 5px;
    margin-top: 2px;
    text-align: center;
    line-height: 20px;
    max-height: 30px;
    /* height: 20px; */
}

/*/* Your grid header column style */
/*.grid-header {
    background-color: rgb(217, 231, 255);
    border: none;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    color: Black;
}*/

/*.grid-header-title a {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    color: Black;
}*/

.gridChecked {
    background-color: aqua !important;
}

.container {
    margin: 0 auto;
    width: 92%;
}

div .roleradio.selected {
    border: #50B346 solid 3px;
}

div .roleradio {
    border: #385F8D solid 3px;
    margin: 0 10px 0 0;
    padding: 0;
}

.divider-vertical {
    height: floor(@navbar-height - @navbar-margin-bottom);
    margin: floor(@navbar-margin-bottom / 2) 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #8B1313;
        font-size: 1em;
        font-weight: bold;
    }

.navbar-default .navbar-nav > li:hover {
    background-color: #EFD7D7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

    .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover {
        color: #8B1313;
        font-size: 1em;
        font-weight: bold;
    }

.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
    background-color: #F7F9EC;
}



.treeview > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.treeview > li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
}

    .treeview > li div {
        padding-left: 1em;
        position: relative;
    }

        .treeview > li div::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2px;
            bottom: 50%;
            width: 0.75em;
            border: 2px solid #000;
            border-top: 0 none transparent;
            border-right: 0 none transparent;
        }

.treeview > ul > li:last-child {
    border-left: 2px solid transparent;
}

.fileManagerImg {
    max-width: 120px;
    max-height: 120px;
}


@media (min-width: 768px).container {
    max-width: 1200px;
}

input.ImageResizingTextBox {
    max-width: 70px;
    width: 70px;
    margin-left: 5px;
    margin-top: 2px;
    text-align: center;
    line-height: 20px;
    max-height: 30px;
    /* height: 20px; */
}

li.Tools {
    float: right;
    margin-top: 2px;
    padding: 3px 2px 0 0;
    overflow: hidden;
}

.adminLine {
    background-color: #543b3b !important;
    border: 0 none !important;
    color: #eee !important;
    height: 1px !important;
}
input[name='checkboxGrid'] {
    width: 34px;
    height: 30px;
    padding: 5em;
    border: 1px solid #369;
}
.gridToolBox{
   
  display: inline-table !important;
  list-style: none !important;
  margin: 5px !important;

}
.smallGridColumn{
    width:5% !important;
}