@model EImece.Domain.Entities.Setting
@using Resources;

@{
    var saveButtonText = AdminResource.SaveButtonText;
    ViewBag.Title = @AdminResource.AboutUs;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@AdminResource.AboutUs</h2>
<hr class="adminLine" />

@Html.Partial("_pPageSetting", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}