@model Setting
@using EImece.Domain.Helpers;
@using SharkDev.MVC
@using GridMvc.Html
@using GridMvc.Sorting
@using EImece.Domain;
@using EImece.Domain.Entities;
@using Resources;
@using EImece.Domain.Helpers.Extensions;
@{
    ViewBag.Title = "Web Site Logo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var saveButtonText = AdminResource.SaveButtonText;
    var setting = Model;
    string fileName = Model.SettingValue;
    string fullPath = Path.Combine(ApplicationConfigs.ServerMapPath, fileName);
    string thumbPath = "/thb" + fileName + "";
    string partThumb1 = Path.Combine(ApplicationConfigs.ServerMapPath, "thumbs");
    string partThumb2 = Path.Combine(partThumb1, "thb" + fileName);
}

<h2>Web Site Logo</h2>

@using (Html.BeginForm("UploadWebSiteLogo", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(r => r.Id)


    <div class="row">
        <div class="col-md-3">
            <img src="@partThumb2.Replace("~","")" />
        </div>
        <div class="col-md-9">


            <table width="95%" class="table table-responsive table-bordered">
                <tr>
                    <td class="text-center">
                        Upload LOGO
                    </td>
                    <td>
                        <input type="file" name="postedImage" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Image Width
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-10">
                           
                                <div id="sliderWidth">
                                    <div id="sliderWidthHandle" class="ui-slider-handle myslider"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="imageWidth" style="width:50px" id="imageWidthTxt" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Image Height
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-10">
                              
                                <div id="sliderHeight">
                                    <div id="sliderHeightHandle" class="ui-slider-handle myslider"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="imageHeight" style="width:50px" id="imageHeightTxt" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@saveButtonText" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
}
