@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Erayweb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Yuvadan.com.tr" />
    <meta name="description" content="Antalya’nın köylerinden, kudret narı başta olmak üzere tüm doğal ve sağlıklı tarım ürünleriyle buluşun! Emeğin ve doğallığın lezzete dönüştüğü adres.">

    <!-- title  -->
    <title>Yuvadan.com.tr</title>

 
 
    <!--End of Whatsapp-->
</head>

<body>
 
</body>
</html>