@using EImece.Domain.Entities;
@using EImece.Domain.Factories;
@using Resources;
@{
    Subscriber subscriber = new Subscriber();
}

@using (Html.BeginForm("AddSubscriber", "Home", FormMethod.Post))
{

    <button class="newsletter-btn" type="submit">@Resource.SubscriberButtonText</button>

    @Html.TextBoxFor(model => subscriber.Email, new { @placeholder = @Resource.Email, @class = "newsletter" })

}