@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;

@model List<Menu>
@{
    var menus = Model;
}
<ul>
    @foreach (var m in menus)
    {

        if (m.Childrens.Any())
        {

            <li>
                @Html.Partial("_NavigationMenuLink", m)
                @Html.Partial("_NavigationChildren", m.Childrens)

            </li>

        }
        else
        {
            <li>
                @Html.Partial("_NavigationMenuLink", m)
            </li>
        }



    }
</ul>
 