@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Models.FrontModels;

@model List<ProductCategoryTreeModel>
@{
    var productCategories = Model;
}

<ul>
    @foreach (var p in productCategories)
    {

        if (p.Childrens.Any())
        {
            <li class="dropdown">
                @Html.ActionLink(p.Text, "Category", "ProductCategories",
               new { id = p.ProductCategory.GetSeoUrl() }, new { @class = "btn btn-default" })
                @Html.Partial("_ProductCategoryTreeChildren", p.Childrens)
            </li>

        }
        else
        {

            <li>
                @Html.ActionLink(p.Text, "Category", "ProductCategories", new { id = p.ProductCategory.GetSeoUrl() }, new { @class = "btn btn-default" })
            </li>
        }

    }
</ul>