@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Models.FrontModels;

@model List<ProductCategoryTreeModel>
@{
    var productCategories = Model;
}

<ul class="dropdown-menu">
    @foreach (var p in productCategories)
    {
        <li>
            @Html.ActionLink(p.Text, "Category", "ProductCategories", new { id = p.ProductCategory.GetSeoUrl() }, null)
            @if (p.Childrens.Any())
            {
                @Html.Partial("_ProductCategoryTreeChildren", p.Childrens)
            }
        </li>
        
    }

</ul>

