@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@model List<ProductCategory>
@{
    var productCategories = Model;
}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            @foreach (var p in productCategories)
            {
                <li>
                    @Html.ActionLink(p.Name, "Category", "Products", new { id = p.GetSeoUrl() }, null)
                </li>
                if (p.Childrens.Any())
                {
                    @Html.Partial("_ProductCategoryTreeChildren", p.Childrens)
                }
            }

        </ul>
    </div>
</nav>