@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@model List<ProductCategory>
@{
    var productCategories = Model;
}

<ul class="dropdown-menu">
    @foreach (var p in productCategories)
    {
        <li>
            @Html.ActionLink(p.Name, "Category", "Products", new { id = p.GetSeoUrl() }, null)
            @if (p.Childrens.Any())
            {
                @Html.Partial("_ProductCategoryTreeChildren", p.Childrens)
            }
        </li>
        
    }

</ul>

