@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@model List<ProductCategory>
@{
    var productCategories = Model;
}

<ul>
    @foreach (var p in productCategories)
    {
        <li>
            @Html.ActionLink(p.Name, "Detail", "Products", new { id = p.GetSeoUrl() },null)
        </li>
        if (p.Childrens.Any())
        {
            @Html.Partial("_ProductCategoryTreeChildren", p.Childrens)
        }
    }

</ul>
