@using Resources;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;

@{ 
    var SearchProductTextBoxPlaceHolder =  Resource.SearchProductTextBoxPlaceHolder;
    var SearchProductButtonText = Resource.SearchProductButtonText;

}
@using (Html.BeginForm("SearchProducts", "Products", FormMethod.Get, new { style="display:inline-block;", @class = "form-inline --navbar-form --navbar-left" }))
{
    <div class="form-group">
        <input name="search" type="text" id="Search_TextBox"
               class="search-field form-control" placeholder="@SearchProductTextBoxPlaceHolder">
    </div>
    <input type="submit" value="@SearchProductButtonText" class="btn btn-default" />    
}
