@model SettingLayoutViewModel
@using EImece.Domain.Models.FrontModels;
@{
    var webSiteCompanyPhoneAndLocation = Model.WebSiteCompanyPhoneAndLocation.SettingValue;
    var webSiteCompanyEmailAddress = Model.WebSiteCompanyEmailAddress.SettingValue;
    var isPhone = !String.IsNullOrEmpty(webSiteCompanyPhoneAndLocation);
    var isEnvelope = !String.IsNullOrEmpty(webSiteCompanyEmailAddress);

}
@if (Model.isMobilePage)
{

    <a class="dropdown-item" href="tel:@webSiteCompanyPhoneAndLocation">
        <i class="mr-1" data-feather="phone" style="width: 13px; height: 13px;">
        </i>@webSiteCompanyPhoneAndLocation
    </a>
    <a class="dropdown-item" href="mailto:@webSiteCompanyEmailAddress">
        <i class="mr-1" data-feather="mail" style="width: 13px; height: 13px;">
        </i>@webSiteCompanyEmailAddress
    </a>
}
else if (isPhone || isEnvelope)
{
    <!-- contact info-->
    <ul class="list-inline mb-0 d-none d-lg-inline-block">
        @if (isPhone)
        {
            <li class="list-inline-item opacity-75 mr-1">
                <i class="text-light mr-2" data-feather="phone" style="width: 13px; height: 13px;"></i>
                <a class="text-light font-size-sm py-1 pl-0 pr-2" href="@string.Format("tel:{0}",webSiteCompanyPhoneAndLocation)">@Html.Raw(webSiteCompanyPhoneAndLocation)</a>
            </li>
        }
        @if (isEnvelope)
        {
            <li class="list-inline-item opacity-75 mr-1">
                <i class="text-light mr-2" data-feather="mail" style="width: 13px; height: 13px;"></i>
                <a class="text-light font-size-sm py-1 pl-0 pr-2" href="mailto:@webSiteCompanyEmailAddress">@Html.Raw(webSiteCompanyEmailAddress)</a>
            </li>
        }
    </ul>
 
}