@model List<Setting>

@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@{
    bool isThumb = ViewData["isThumb"].ToBool(false);
}
@{
    if (Model.Any())
    {
        var webSiteLogo = Model.FirstOrDefault();
        var companyName = Model.Skip(1).FirstOrDefault();
        string companyNametxt = companyName.SettingValue;

        <a href="/">
            <img alt="@companyNametxt" src="/images/logo.jpg" />
        </a>
    }
}