@model Setting
@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@{
    bool isThumb = ViewData["isThumb"].ToBool(false);
}
@{
    if (Model != null)
    {
        string fileName = Model.SettingValue;
        string fullPath = Path.Combine(Settings.ServerMapPath, fileName);
        string thumbPath = "/thb" + fileName + "";
        string partThumb1 = Path.Combine(Settings.ServerMapPath, "thumbs");
        string partThumb2 = Path.Combine(partThumb1, "thb" + fileName);



        if (isThumb)
        {

            <a href="/">
                <img src="@partThumb2.Replace("~","")" />

            </a>
        }
        else
        {
            <a href="/">
                <img src="@fullPath.Replace("~","")" />

            </a>
        }


    }
    else
    {
        @String.Format("NO LOGO")
    }


}



