<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net481" />
  <package id="Enums.NET" version="5.0.0" targetFramework="net481" />
  <package id="ExtendedNumerics.BigDecimal" version="2025.1001.2.129" targetFramework="net481" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Build.Tasks.Git" version="8.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="8.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="8.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="NLog" version="6.1.4" targetFramework="net481" />
  <package id="NLog.Extensions.Logging" version="6.1.4" targetFramework="net481" />
  <package id="NPOI" version="2.8.0" targetFramework="net481" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net481" />
  <package id="SkiaSharp" version="3.119.2" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.2" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.2" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.2" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
  <package id="ZString" version="2.6.0" targetFramework="net481" />
</packages>