@model EImece.Domain.Entities.Subscriber
@using Resources
@{
    ViewBag.Title = Resource.ThanksForSubscription;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content-->
<div class="container pb-5 mb-sm-4">
    <div class="row pt-4 mt-2">
        <!-- Content-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-xl-9 col-md-8">
                    @Resource.ThanksForSubscription  @Model.Email
                </div>
            </div>
        </div>
    </div>
</div>
