@model EImece.Domain.Entities.Subscriber
@using Resources
@{
    ViewBag.Title = Resource.ThanksForSubscription;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlActionLink = Url.Action("index", "home");
}

<!-- Page Content-->
<div class="container pb-5 mb-sm-4">
    <div class="row pt-4 mt-2">
        <!-- Content-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-xl-9 col-md-8">
                    @Model.Email
                    @Resource.ThanksForSubscription

                    <div class="card-body text-center">
                        <h3 class="h4 pb-3">{0}</h3>
                        <p class="mb-2">Sipariş numaranızı not ettiğinizden emin olun. <strong> {0} </strong></p>
                        <a class="btn btn-secondary mt-3 mr-3" href="{1}">Alışverişe geri dön</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
