@model EImece.Domain.Entities.Subscriber
@using Resources
@{
    ViewBag.Title = Resource.ThanksForSubscription;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pb-5 mb-sm-4">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-8 col-md-10 mt-sm-3">
            @Resource.ThanksForSubscription
            <div class="card py-2 mt-4">
                @Model.Email
            </div>
        </div>
    </div>
</div>


