@model EImece.Domain.Entities.Subscriber
@using Resources
@{
    ViewBag.Title = Resource.ThanksForSubscription;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pb-5 mb-sm-4">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-8 col-md-10 mt-sm-3">
          
            <div class="card py-2 mt-4">
               
            </div>

            <div class="alert alert-secondary">
                <div class="pt-3 pb-2 text-center ">
                    @Resource.ThanksForSubscription  @Model.Email
                </div>
            </div>

        </div>
    </div>
</div>


