@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0028)https://www.angelicsilk.com/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- metas -->

    <meta name="author" content="Erayweb">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Angelic Silk">
    <meta name="description" content="We are preparing the best mulberry silk products for you.&gt;
          &lt;!-- title --&gt;
          &lt;title&gt;Angelic Silk&lt; /title&gt;
          &lt;!-- favicon --&gt;
          &lt;link rel=" shortcut=" " icon" ="" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="https://www.angelicsilk.com/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.angelicsilk.com/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.angelicsilk.com/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="./index_files/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="./index_files/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="./index_files/base.css">

    <!-- custom css -->
    <link href="./index_files/styles-2.css" rel="stylesheet" id="colors">


    <!--Whatsapp-->
    <script type="text/javascript" async="" src="./index_files/init.js.download"></script>
    <script type="text/javascript">(function () {
        var options = {
            whatsapp: "+905343334407", // WhatsApp numaranızı buraya girin
            call_to_action: "Hello, Merhaba", // Görünecek metin
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();</script>
    <!--End of Whatsapp-->

    <style data-styled="active" data-styled-version="5.1.1"></style>
</head>

<body>
    HTML BOS SAYFA

</body>
</html>