@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0028)https://www.angelicsilk.com/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- metas -->

    <meta name="author" content="Erayweb">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Angelic Silk">
    <meta name="description" content="We are preparing the best mulberry silk products for you.&gt;
          &lt;!-- title --&gt;
          &lt;title&gt;Angelic Silk&lt; /title&gt;
          &lt;!-- favicon --&gt;
          &lt;link rel=" shortcut=" " icon" ="" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="https://www.angelicsilk.com/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.angelicsilk.com/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.angelicsilk.com/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="./index_files/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="./index_files/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="./index_files/base.css">

    <!-- custom css -->
    <link href="./index_files/styles-2.css" rel="stylesheet" id="colors">


    <!--Whatsapp-->
    <script type="text/javascript" async="" src="./index_files/init.js.download"></script>
    <script type="text/javascript">(function () {
        var options = {
            whatsapp: "+905343334407", // WhatsApp numaranızı buraya girin
            call_to_action: "Hello, Merhaba", // Görünecek metin
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();</script>
    <!--End of Whatsapp-->

    <style data-styled="active" data-styled-version="5.1.1"></style>
</head>

<body>
    HTML BOS SAYFA
    <!-- start page loading -->
    <!-- end page loading -->
    <!-- start main-wrapper section -->
    <div class="main-wrapper">



        <!-- start slideshow-->
        <div class="container-fluid full-screen" style="min-height: 666px;">
            <div class="row slider-fade">
                <div class="owl-carousel owl-theme width-100 owl-loaded">

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-3038px, 0px, 0px); transition: all 0s ease 0s; width: 9116px;">
                            <div class="owl-item cloned" style="width: 1519.2px;">
                                <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/slider/slider001.jpg" style="background-image: url(&quot;img/slider/slider001.jpg&quot;);">
                                    <div class="container height-100">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell vertical-align-middle caption">
                                                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                                    <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We are preparing the best products for you.<br>Get a %10 off by signing up for our mailing list.</h3>
                                                    <h1 class="text-white">Angelic Silk</h1>
                                                    <p>Phone: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>

                                                    <a href="https://www.angelicsilk.com/submit.html" class="butn medium theme">
                                                        <span class="alt-font">E-mail Submit</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                                    </a>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1519.2px;">
                                <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/slider/slider002.jpg" style="background-image: url(&quot;img/slider/slider002.jpg&quot;);">
                                    <div class="container height-100">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell vertical-align-middle caption">
                                                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                                    <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">Sizler için en iyi ürünleri hazırlıyoruz.<br>%10 indirim için mail adresinizi kaydediniz.</h3>
                                                    <h1 class="text-white">Angelic Silk</h1>
                                                    <p>Tel: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>

                                                    <a href="https://www.angelicsilk.com/submit.html" class="butn medium theme">
                                                        <span class="alt-font">E-mail Ekle</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 1519.2px;">
                                <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/slider/slider001.jpg" style="background-image: url(&quot;img/slider/slider001.jpg&quot;);">
                                    <div class="container height-100">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell vertical-align-middle caption">
                                                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                                    <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin animated fadeInUp">We are preparing the best products for you.<br>Get a %10 off by signing up for our mailing list.</h3>
                                                    <h1 class="text-white animated fadeInUp">Angelic Silk</h1>
                                                    <p class="animated fadeInUp">Phone: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>

                                                    <a href="https://www.angelicsilk.com/submit.html" class="butn medium theme animated fadeInUp">
                                                        <span class="alt-font">E-mail Submit</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                                    </a>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 1519.2px;">
                                <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/slider/slider002.jpg" style="background-image: url(&quot;img/slider/slider002.jpg&quot;);">
                                    <div class="container height-100">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell vertical-align-middle caption">
                                                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                                    <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">Sizler için en iyi ürünleri hazırlıyoruz.<br>%10 indirim için mail adresinizi kaydediniz.</h3>
                                                    <h1 class="text-white">Angelic Silk</h1>
                                                    <p class="">Tel: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>

                                                    <a href="https://www.angelicsilk.com/submit.html" class="butn medium theme">
                                                        <span class="alt-font">E-mail Ekle</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1519.2px;">
                                <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/slider/slider001.jpg" style="background-image: url(&quot;img/slider/slider001.jpg&quot;);">
                                    <div class="container height-100">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell vertical-align-middle caption">
                                                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                                    <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We are preparing the best products for you.<br>Get a %10 off by signing up for our mailing list.</h3>
                                                    <h1 class="text-white">Angelic Silk</h1>
                                                    <p>Phone: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>

                                                    <a href="https://www.angelicsilk.com/submit.html" class="butn medium theme">
                                                        <span class="alt-font">E-mail Submit</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                                    </a>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1519.2px;">
                                <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/slider/slider002.jpg" style="background-image: url(&quot;img/slider/slider002.jpg&quot;);">
                                    <div class="container height-100">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell vertical-align-middle caption">
                                                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                                                    <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">Sizler için en iyi ürünleri hazırlıyoruz.<br>%10 indirim için mail adresinizi kaydediniz.</h3>
                                                    <h1 class="text-white">Angelic Silk</h1>
                                                    <p>Tel: +90 534 333 44 07 - GMT+3 <br>info@angelicsilk.com</p>

                                                    <a href="https://www.angelicsilk.com/submit.html" class="butn medium theme">
                                                        <span class="alt-font">E-mail Ekle</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="custom-dot active"><span></span></div><div class="custom-dot"><span></span></div></div><div class="owl-thumbs"></div>
                </div>
            </div>
        </div>
        <!-- end slideshow-->
        <!-- start footer section -->
        <footer class="footer-style10">



            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="https://www.instagram.com/angelicsilk_official/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/angelic.silk.1" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right xs-text-center">
                            <p class="xs-margin-5px-top xs-font-size13">Angelic Silk © 2020</p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->
    <!-- start scroll to top -->
    <a href="https://www.angelicsilk.com/#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->
    <!-- all js include start -->
    <!-- jquery -->
    <script src="./index_files/jquery.min.js.download"></script>

    <!-- popper js -->
    <script src="./index_files/popper.min.js.download"></script>

    <!-- bootstrap -->
    <script src="./index_files/bootstrap.min.js.download"></script>

    <!-- navigation -->
    <script src="./index_files/nav-menu.js.download"></script>

    <!-- serch -->
    <script src="./index_files/search.js.download"></script>

    <!-- tab -->
    <script src="./index_files/easy.responsive.tabs.js.download"></script>

    <!-- owl carousel -->
    <script src="./index_files/owl.carousel.js.download"></script>

    <!-- jquery.counterup.min -->
    <script src="./index_files/jquery.counterup.min.js.download"></script>

    <!-- stellar js -->
    <script src="./index_files/jquery.stellar.min.js.download"></script>

    <!-- waypoints js -->
    <script src="./index_files/waypoints.min.js.download"></script>

    <!-- countdown js -->
    <script src="./index_files/countdown.js.download"></script>

    <!-- jquery.magnific-popup js -->
    <script src="./index_files/jquery.magnific-popup.min.js.download"></script>

    <!-- isotope.pkgd.min js -->
    <script src="./index_files/isotope.pkgd.min.js.download"></script>

    <!--  chart js -->
    <script src="./index_files/chart.min.js.download"></script>

    <!-- thumbs js -->
    <script src="./index_files/owl.carousel.thumbs.js.download"></script>

    <!-- animated js -->
    <script src="./index_files/animated-headline.js.download"></script>

    <!--  clipboard js -->
    <script src="./index_files/clipboard.min.js.download"></script>

    <!--  prism js -->
    <script src="./index_files/prism.js.download"></script>

    <!-- custom scripts -->
    <script src="./index_files/main.js.download"></script>

    <!-- quform plugins js -->
    <script src="./index_files/plugins.js.download"></script>

    <!-- quform scripts js -->
    <script src="./index_files/scripts.js.download"></script>

    <!-- all js include end -->



    <div id="gb-widget-2499" style="bottom: 21px; right: 23px; opacity: 1; transition: opacity 0.5s ease 0s; box-sizing: border-box; direction: ltr; position: fixed !important; z-index: 16000160 !important;"><div><div class="q8c6tt-2 jxPOhn"><a href="https://wa.me/905343334407" target="_blank" class="sc-1s18q3d-1 sc-8eqc3y-1 dxiAcZ"><div class="sc-8eqc3y-0 fXBuHm">Hello, Merhaba</div></a><a href="https://wa.me/905343334407" target="_blank" color="#4dc247" class="q8c6tt-0 jlzTty"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 100%; height: 100%; fill: rgb(255, 255, 255); stroke: none;"><path d="M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z"></path></svg></a></div><a type="link" href="http://getbutton.io/?utm_campaign=multy_widget&amp;utm_medium=widget&amp;utm_source=www.angelicsilk.com" class="sc-7dvmpp-1 fprIlH">GetButton</a></div></div>
</body>
</html>