<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880

  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="LocalMySqlServer" />
    <add name="EImeceDbConnection" connectionString="Data Source=YUCE\SQLEXPRESS;Initial Catalog=TestEY_3;User ID=sqluser; Password=sqluser" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SpecialFooterMenuLinkMenuId" value="3142" />
    <add key="domain" value="www.eimece-ticaret.com:88" />
    <add key="BuyerIdentityNumber" value="38108089344" />
    <add key="IyzicoApiKey" value="sandbox-v0nW7JMLDP8x5ZjVN2MQpKkcmKlUqKZB" />
    <add key="IyzicoSecretKey" value="sandbox-xi3ZmT9EVV0AcwaV4mzT4TlOmWr5YGgL" />
    <add key="IyzicoBaseUrl" value="https://sandbox-api.iyzipay.com" />
    <add key="CacheVeryLongSeconds" value="180000" />
    <add key="UseSSL" value="false" />
    <add key="UseSSLImages" value="false" />
    <add key="Quartz_Scheduler_IsEnabled" value="False" />
    <add key="MVCGridShowErrorDetail" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GridPageSizeNumber" value="20" />
    <add key="IsCacheActive" value="true" />
    <add key="CacheMediumSeconds" value="300" />
    <add key="CacheLongSeconds" value="1800" />
    <add key="CacheShortSeconds" value="10" />
    <add key="AdminImageHeightPercantage" value="50" />
    <add key="AdminImageWidthPercantage" value="50" />
    <add key="SiteStatus" value="live" />
    <add key="MicrosoftAccount_ClientSecret" value="" />
    <add key="MicrosoftAccount_ClientId" value="" />
    <add key="TwitterAccount_ConsumerKey" value="" />
    <add key="TwitterAccount_ConsumerSecret" value="" />
    <add key="FacebookAccount_AppId" value="" />
    <add key="FacebookAccount_AppSecret" value="" />
    <add key="GoogleAccount_ClientId" value="" />
    <add key="GoogleAccount_ClientSecret" value="" />
    <add key="IsEditLinkEnable" value="true" />
    <add key="TestKey" value="100" />
    <add key="ApplicationFullUrl" value="http://dev.emin.fastcraft.com" />
    <add key="MainLanguage" value="1" />
    <add key="Application_Languages" value="tr-TR" />
    <add key="IyzicoEnabledInstallments" value="1,2,4,6,9" />
    <add key="ShoppingCartItemCategory2" value="ShoppingCartItemCategory2" />
    <add key="encrypt-password" value="SAUW193BX628TD57" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="tr-TR" uiCulture="tr-TR" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.7.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" maxUrlLength="2024" maxRequestLength="512000" enableVersionHeader="false" executionTimeout="36000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
    <caching>
      <outputCache omitVaryStar="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Cache the 400 Bad Request route for a day. -->
          <add name="BadRequest" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the 403 Forbidden route for a day. -->
          <add name="Forbidden" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the 405 Method Not Allowed route for a day. -->
          <add name="MethodNotAllowed" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the 404 Not Found route for a day. -->
          <add name="NotFound" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the 401 Unauthorized route for a day. -->
          <add name="Unauthorized" duration="86400" location="Any" varyByParam="none" />
          <!-- Cache the 500 Internal Server Error route for a day. -->
          <add name="InternalServerError" duration="86400" location="Any" varyByParam="none" />
          <add name="ShortCache" duration="60" varyByParam="*" varyByCustom="User" />
          <add name="ShortCacheUserDependency" duration="60" varyByParam="*" varyByCustom="User" />
          <add name="Cache20Minutes" duration="1200" varyByParam="*" location="Any" varyByCustom="User" />
          <add name="Cache10Minutes" duration="600" varyByParam="*" location="Any" varyByCustom="User" />
          <add name="Cache1Hour" duration="6000" varyByParam="*" location="Any" varyByCustom="User" />
          <!-- "3600"  -->
          <add name="Cache10Days" duration="6000" varyByParam="*" location="Any" varyByCustom="User" />
          <!-- 864000-->
          <add name="Cache30Days" duration="6000" varyByParam="*" location="Any" varyByCustom="User" />
          <add name="ImageProxyCaching" duration="600" varyByParam="*" location="Client" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MVCGridHandler" verb="*" path="MVCGridHandler.axd" type="MVCGrid.Web.MVCGridHandler, MVCGrid" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <security />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>-->
  </system.codedom>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
<!--ProjectGuid: 7DDC08CA-3C80-4CBB-8EE8-B08EE8E70782-->