@using EImece.Domain.Helpers;
@using EImece.Domain.Entities;
@model List<BaseContent>

@{
    ViewBag.Title = "SearchContent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var searchKey = (String)ViewBag.SearchKey;
}


<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Admin Search Result For @searchKey</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <h2>Admin Search Result For @searchKey</h2>
                @if (Model.Any())
                {
                    foreach (var baseContent in Model)
                    {

                        <div>

                            @Html.DisplayFor(item => baseContent,"BaseContentSearchItem")



                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>




