@model EImece.Domain.Entities.ProductCategory
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@{

    var category = Model;
    var products = Model.Products;
    ViewBag.Title = category.GetSeoTitle();
    ViewBag.Description = category.GetSeoDescription();
}

<h2>
    @category.Name
</h2>

@Html.Raw(category.GetCroppedImageTag(200, 200))


@if (products != null)
{
    <div class="row">

        @foreach (var p in products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                @Html.DisplayFor(modelItem => p, "MainPageProduct")
                @*@foreach (var pt in p.ProductTags)
                {
                <div>
                    @Html.ActionLink(pt.Tag.Name, "tag", "products", new { id = pt.Tag.GetSeoUrl() }, null)
                </div>
                }*@
            </div>
          
            
        }
    </div>
}
