@model StoryIndexViewModel
@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Models.FrontModels;

@{
    ViewBag.Title = "Index";
    var stories = Model.Stories;
}

<h2>Index</h2>

@Html.BootstrapPager(stories.PageIndex,
    index => Url.Action("Index", "Stories", new { page = index }),
    stories.TotalCount, stories.PageSize, numberOfLinks: 10)

@foreach (var item in stories)
{
    @Html.DisplayFor(modelItem => item,"StoryShort")
}




