@model StoryIndexViewModel
@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Helpers.Extensions;
@using Resources;

@{
    ViewBag.Title = "Index";
    var stories = Model.Stories;
    var storyCategories = Model.StoryCategories;

}

<h2>Index</h2>

@foreach (var item in storyCategories)
{
   <div>
       @Html.ActionLink(item.Name, "Categories", new { id = item.GetSeoUrl() })
   </div>
 if (item.MainImageId.HasValue && item.MainImageId.Value > 0) {
      @item.MainImage.Name

   }

}

@Html.BootstrapPager(stories.PageIndex,
    index => Url.Action("Index", "Stories", new { page = index }),
    stories.TotalCount, stories.PageSize, numberOfLinks: 10)

@foreach (var item in stories)
{
    @Html.DisplayFor(modelItem => item,"StoryShort", new { Width = 300, Height = 300 })
}