@model EImece.Domain.Models.FrontModels.SimiliarStoryTagsViewModel
@using GenericRepository;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    PaginatedList<StoryTag> StoryTags = Model.StoryTags;
    var tag = Model.Tag;
    ViewBag.Title = tag.GetSeoTitle();
    ViewBag.Description = (Model.CompanyName.SettingValue + " - "+ String.Join(",", StoryTags.Select(r => r.Story.Name))).ToStr(150);

    Layout = "~/Views/Shared/_Layout.cshtml";

    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
}

<h2>
    @tag.Name
@if (isUserAuthenticated)
{
    @Html.ActionLink(Resource.AdminEdit, "saveoredit", "tags", new { @id = tag.Id, @area = "admin" }, new { @class = "adminPageLink" })
}
</h2>

@Html.BootstrapPager(StoryTags.PageIndex,
    index => Url.Action("Tag", "Stories", new { page = index }),
    StoryTags.TotalCount, StoryTags.PageSize, numberOfLinks: 10)

<div class="row">
    @foreach (var item in StoryTags)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.DisplayFor(modelItem => item.Story, "MainPageStory")
        </div>
    }
</div>