@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@model  List<SelectListItem>
@{
    var listItems = Model;
}
@if (listItems.Count() > 1)
{
<li>

    <select class="form-control" id="CookieLanguage" name="CookieLanguage" onchange="setlanguage(this.value)" style=" margin-top: 7px;">
        @foreach (var l in listItems)
        {
            <option value="@l.Value">@l.Text</option>
        }


    </select>


    @Html.DropDownList("CookieLanguage", listItems, new { @onchange = "setlanguage(this.value)", @style = " margin-top: 7px;", @class = "form-control" })
</li>
}