@using EImece.Domain.Entities;
@model List<TagCategory>

@{
    var tagCategories = Model;
}

@foreach (var tagCategory in tagCategories)
{
    <h3>@tagCategory.Name</h3>
    <div class="tag-checkbox-group">
        @foreach (var tag in tagCategory.Tags)
        {
            <div class="checkbox checkbox-danger">
                <input id="checkbox@tag.Id"
                       class="styled"
                       data-image-tag="@tag.Id"
                       value="@tag.Id"
                       type="checkbox" />

                <label for="checkbox@tag.Id">
                    @tag.Name
                </label>
            </div>
        }
    </div>
}
