@using EImece.Domain.Entities;
@model  List<TagCategory>
@{
    var tagCategories = Model;
}
111
@foreach (TagCategory tagCategory in tagCategories)
{
    <h3>
        @tagCategory.Name
    </h3>
    <div>
        @foreach (var tag in tagCategory.Tags)
        {

            <label><input type="checkbox" name="tags" value="@tag.Id" /> <span>@tag.Name</span></label>
        }
    </div>
}
