@using EImece.Domain.Entities;
@model  List<TagCategory>
@{
    var tagCategories = Model;
    var selectedTags = (List<int>)TempData["selectedTags"];
}
@foreach (TagCategory tagCategory in tagCategories)
{
    <h3>
        @tagCategory.Name
    </h3>
    foreach (var tag in tagCategory.Tags)
    {

        <span class="tagCheckbox"> 
            <input type="checkbox" class="checkbox checkbox-success" @String.Format("{0}", selectedTags.Any(t => t == tag.Id) ? "checked='checked'" : "") name="tags" value="@tag.Id" />

            <label for="option"> <span>@tag.Name</span> </label>

        </span>
        
             
        
               
        }
}
