@model BaseContent
@using EImece.Domain.Helpers;
@using Resources;
@using EImece.Domain.Entities;

@{

}
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ImageHeight, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                <input type="text" class="ImageResizingTextBox" name="imageHeight" id="imageHeightTxt" />
                @Html.HiddenFor(model => model.ImageHeight)
            </div>
            <div class="col-md-7">
                <div id="sliderHeight">
                    <div id="sliderHeightHandle" class="ui-slider-handle myslider"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageWidth, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-2">
                <input type="text" class="ImageResizingTextBox" name="imageWidth" id="imageWidthTxt" />
                @Html.HiddenFor(model => model.ImageWidth)
            </div>
            <div class="col-md-7">
                <div id="sliderWidth">
                    <div id="sliderWidthHandle" class="ui-slider-handle myslider"></div>
                </div>
            </div>
        </div>
    </div>