<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data/logs/nlog-internal.log">

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="file"
            fileName="App_Data/logs/eimece-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|correlation=${mdlc:item=CorrelationId}|${message} ${exception:format=tostring}"
            createDirs="true"
            archiveEvery="Day"
            maxArchiveFiles="14" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
