@model EImece.Domain.Entities.ProductCategory
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    var productCategory = Model;
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    int Width = ViewData["Width"].ToInt(0);
    int Height = ViewData["Height"].ToInt(0);
    var imageTag = productCategory.GetCroppedImageTag(Width, Height);
}
<div class="one-third column">
    <a href="@productCategory.DetailPageUrl" class="img-caption">
        <figure>
            @Html.Raw(imageTag)
            <figcaption>
                <h3>@productCategory.Name
                </h3>
                <span>@Resource.NewModelsClick</span>
            </figcaption>
        </figure>
    </a>
</div>