@model EImece.Domain.Entities.ProductCategory
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    var productCategory = Model;
    var isUserAuthenticated = User.Identity.IsAuthenticated && Settings.IsEditLinkEnable;
}
<div class="one-third column">
    <a href="@productCategory.GetDetailPageUrl("Category", "productCategories")" class="img-caption">
        <figure>
            @Html.Raw(productCategory.GetCroppedImageTag(380, 185))
            <figcaption>
                <h3>@productCategory.Name
            
                </h3>
                <span>@Resource.NewModelsClick</span>
            </figcaption>
        </figure>
    </a>

  
</div>
