@using Iyzipay.Model;
@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@using Resources;
@using EImece.Domain.Models.FrontModels;
@{
    ViewBag.Title = Resource.TrackYourCargo;
}
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@Resource.OrderNumber</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="trackingNumber">@Resource.EnterOrderNumber</label>
                        <input type="text" class="form-control" id="TrackingNumberText" value="@ViewBag.OrderNumber" placeholder="Enter your cargo tracking number" />
                    </div>
                    <button id="TrackingNumberButton" class="btn btn-info btn-block">@Resource.QueryOrderNumber</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div id="trackingResult">

        </div>
    </div>
</div>

@section Scripts {
    <script>
        jQuery(function () {
            $("#TrackingNumberButton").click(function () {
                var trackingNumberText = $("#TrackingNumberText").val();
                var postData = JSON.stringify({
                    orderNumber: trackingNumberText
                });
                console.log(postData);
                ajaxMethodCall(postData, "/Payment/CargoTrackingResult", function (data) {
                    console.log("result");
                    $("#trackingResult").html(data);
                });
            });
        });
    </script>
}
