@using Iyzipay.Model;
@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@using Resources;
@using EImece.Domain.Models.FrontModels;
@model PaymentResultViewModel
@{
    var item = Model;
    var checkoutForm = Model.CheckoutForm;
}

@if (checkoutForm.PaymentStatus.Equals(EImece.Domain.Constants.SUCCESS, StringComparison.InvariantCultureIgnoreCase))
{
    <!-- Page Content-->
    <div class="container pb-5 mb-sm-4">
        <div class="pt-5">
            <div class="card py-3 mt-sm-3">
                <div class="card-body text-center">
                    <h3 class="h4 pb-3">Siparişiniz için teşekkür ederiz!</h3>
                    <p class="mb-2">Siparişiniz verildi ve mümkün olan en kısa sürede işleme alınacak.</p>
                    <p class="mb-2">Sipariş numaranızı not ettiğinizden emin olun. <strong> @item.Order.OrderNumber</strong></p>
                    <p>Kısa süre içinde siparişinizin onaylandığı bir e-posta alacaksınız.</p>
                    <a class="btn btn-secondary mt-3 mr-3" href="@Url.Action("category","ProductCategories")">Go back shopping</a>

                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>NOT SUCCESS</p>
}

<h2>@checkoutForm.ErrorMessage</h2>


@Html.DisplayFor(r => checkoutForm)