@using Iyzipay;
@using Iyzipay.Model;
@using Iyzipay.Request;
@model  CheckoutFormInitialize
@{

    ViewBag.Title = "Index";
    var checkoutFormInitialize = Model;
}

<div id="iyzipay-checkout-form" class="responsive"></div>
@*
    İyzico Ödeme Ekranı

     Html.DisplayFor(model => checkoutFormInitialize)
*@
<br />
<b>
    @Html.Raw(checkoutFormInitialize.CheckoutFormContent)
</b>
@Html.DisplayFor(model => checkoutFormInitialize)
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />