@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<b style="font-size:xx-large">
@User.Identity.Name
    <p class="text-success">@ViewBag.StatusMessage</p>
</b>