@using Iyzipay.Model;
@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@using Resources;
@using EImece.Domain.Models.FrontModels;
@model Order
@{
    ViewBag.Title = Resources.Resource.ThanksForYourOrder;
    var item = Model;
    string urlActionLink = Url.Action("index", "home");
}

<!-- Page Content-->
<div class="container pb-5 mb-sm-4">
    <div class="row pt-4 mt-2">
        <!-- Content-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(string.Format(Resource.PaymentResultSuccessHtml, item.OrderNumber, urlActionLink))
                </div>
            </div>
        </div>
    </div>
</div>