@model EImece.Domain.Entities.StoryCategory
@using EImece.Domain.Helpers;
@{
    var selectedTheme = Model.PageTheme.ToStr();

}
<div class="tab" id="SayfaDuzenleri">
    <table class="TemaTable" style="width: 100%; text-align: center">
        <tr>
            <td>
                <br />
                <input id="T1"
                       @String.Format("{0}",selectedTheme.Equals("T1") ? "checked='checked'" : "")
                        type="radio" name="PageTheme" value="T1" /><label for="T1">Tema 1</label>
            </td>
            <td>
                <br />
                <input id="T2"
                       @String.Format("{0}",selectedTheme.Equals("T2") ? "checked='checked'" : "")
                        type="radio" name="PageTheme" value="T2" /><label for="T2">Tema 2</label>
            </td>
            <td>
                <br />
                <input id="T3" @String.Format("{0}",selectedTheme.Equals("T3") ? "checked='checked'" : "")
                        type ="radio" name="PageTheme" value="T3" /><label for="T3">Tema 3</label>
            </td>
            <td class="Hide">
                <br />
                <input id="T4"
                       @String.Format("{0}",selectedTheme.Equals("T4") ? "checked='checked'" : "")
                        type="radio" name="PageTheme" value="T4" /><label for="T4">Tema 4</label>
            </td>
        </tr>
    </table>
</div>