USE [eimece]
GO
ALTER TABLE [dbo].[Stories] DROP CONSTRAINT [FK_Stories_StoryCategories]
GO
ALTER TABLE [dbo].[ProductTags] DROP CONSTRAINT [FK_ProductTags_Products]
GO
ALTER TABLE [dbo].[ProductSpecifications] DROP CONSTRAINT [FK_ProductSpecifications_Products]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[ProductFiles] DROP CONSTRAINT [FK_ProductFiles_Products]
GO
ALTER TABLE [dbo].[ProductFiles] DROP CONSTRAINT [FK_ProductFiles_FileStorages]
GO
ALTER TABLE [dbo].[OrderProducts] DROP CONSTRAINT [FK_OrderProducts_Orders]
GO
ALTER TABLE [dbo].[OrderProducts] DROP CONSTRAINT [FK_Order_Products_Products]
GO
ALTER TABLE [dbo].[ListItems] DROP CONSTRAINT [FK_ListItems_Lists]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_IsCampaign]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_Lang]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_Discount]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_ProductCategoryId]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_ImageState]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_MainPage]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_Position]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_IsActive]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_UpdatedDate]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_CreatedDate]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_Lang]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_MainPage]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_ImageState]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_Position]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_IsActive]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_UpdatedDate]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_CreatedDate]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF_ProductCategories_ParentId]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF_Orders_Position]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF_Orders_IsActive]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF_Orders_UpdatedDate]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF_Orders_CreatedDate]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF_Menus_ParentId]
GO
ALTER TABLE [dbo].[ListItems] DROP CONSTRAINT [DF_ListItems_UpdatedDate]
GO
ALTER TABLE [dbo].[ListItems] DROP CONSTRAINT [DF_ListItems_CreatedDate]
GO
ALTER TABLE [dbo].[FileStorages] DROP CONSTRAINT [DF_FileStorages_IsFileExist]
GO
ALTER TABLE [dbo].[AppLogs] DROP CONSTRAINT [DF_AppLogs_CreatedDate]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Templates]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Tags]
GO
/****** Object:  Table [dbo].[TagCategories]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[TagCategories]
GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Subscribers]
GO
/****** Object:  Table [dbo].[StoryTags]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[StoryTags]
GO
/****** Object:  Table [dbo].[StoryFiles]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[StoryFiles]
GO
/****** Object:  Table [dbo].[StoryCategories]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[StoryCategories]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Stories]
GO
/****** Object:  Table [dbo].[ShortUrls]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ShortUrls]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ShoppingCarts]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Settings]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ProductTags]
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ProductSpecifications]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductFiles]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ProductFiles]
GO
/****** Object:  Table [dbo].[ProductComments]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ProductComments]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ProductCategories]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[OrderProducts]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[MenuFiles]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[MenuFiles]
GO
/****** Object:  Table [dbo].[MainPageImages]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[MainPageImages]
GO
/****** Object:  Table [dbo].[MailTemplates]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[MailTemplates]
GO
/****** Object:  Table [dbo].[Lists]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Lists]
GO
/****** Object:  Table [dbo].[ListItems]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[ListItems]
GO
/****** Object:  Table [dbo].[FileStorageTags]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[FileStorageTags]
GO
/****** Object:  Table [dbo].[FileStorages]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[FileStorages]
GO
/****** Object:  Table [dbo].[Faqs]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Faqs]
GO
/****** Object:  Table [dbo].[db_error_LearningErrorLog]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[db_error_LearningErrorLog]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Brands]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AppLogs]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[AppLogs]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[Addresses]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/19/2020 1:19:33 PM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(2000,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Street] [nvarchar](500) NULL,
	[District] [nvarchar](500) NULL,
	[ZipCode] [nvarchar](500) NOT NULL,
	[City] [nvarchar](500) NOT NULL,
	[Country] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[AddressType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppLogs]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventDateTime] [nvarchar](max) NULL,
	[EventLevel] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[MachineName] [nvarchar](max) NULL,
	[EventMessage] [nvarchar](max) NULL,
	[ErrorSource] [nvarchar](max) NULL,
	[ErrorClass] [nvarchar](max) NULL,
	[ErrorMethod] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[InnerErrorMessage] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AppLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/19/2020 1:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MainPage] [bit] NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageState] [bit] NULL,
	[MainImageId] [int] NULL,
	[Lang] [int] NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](500) NULL,
	[GsmNumber] [nvarchar](100) NULL,
	[IdentityNumber] [nvarchar](100) NULL,
	[Ip] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Position] [int] NULL,
	[Lang] [int] NULL,
	[IsPermissionGranted] [bit] NULL,
	[Gender] [int] NULL,
	[City] [nvarchar](500) NULL,
	[Town] [nvarchar](500) NULL,
	[District] [nvarchar](500) NULL,
	[Street] [nvarchar](500) NULL,
	[ZipCode] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[db_error_LearningErrorLog]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[db_error_LearningErrorLog](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[ErrorNumber] [nvarchar](50) NOT NULL,
	[ErrorDescription] [nvarchar](4000) NULL,
	[ErrorProcedure] [nvarchar](100) NULL,
	[ErrorState] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faqs]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faqs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[AddUserId] [nvarchar](100) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Faqs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileStorages]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStorages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[FileName] [nvarchar](500) NOT NULL,
	[FileUrl] [nvarchar](500) NULL,
	[MimeType] [nvarchar](50) NOT NULL,
	[FileSize] [int] NOT NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Lang] [int] NOT NULL,
	[IsFileExist] [bit] NULL,
 CONSTRAINT [PK_FileStorages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileStorageTags]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStorageTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileStorageId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_FileStorageTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListItems]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListId] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[Value] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_ListItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lists]    Script Date: 12/19/2020 1:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[IsService] [bit] NULL,
	[IsValues] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_Lists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailTemplates]    Script Date: 12/19/2020 1:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Position] [int] NULL,
	[Lang] [int] NULL,
	[Subject] [nvarchar](500) NULL,
	[Body] [nvarchar](max) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
	[TrackWithBitly] [bit] NULL,
	[TrackWithMlnk] [bit] NULL,
 CONSTRAINT [PK_MailTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainPageImages]    Script Date: 12/19/2020 1:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainPageImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageState] [bit] NULL,
	[Link] [nvarchar](500) NULL,
	[MainImageId] [int] NULL,
	[Lang] [int] NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_MainPageImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuFiles]    Script Date: 12/19/2020 1:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[FileStorageId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_MenuFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 12/19/2020 1:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageState] [bit] NULL,
	[MainPage] [bit] NULL,
	[LinkIsActive] [bit] NULL,
	[Link] [nvarchar](500) NULL,
	[MainImageId] [int] NULL,
	[MenuLink] [nvarchar](500) NOT NULL,
	[PageTheme] [nvarchar](50) NULL,
	[Lang] [int] NOT NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[AddUserId] [nvarchar](100) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[ProductSpecItems] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Order_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillingAddressId] [int] NULL,
	[ShippingAddressId] [int] NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[CargoPrice] [float] NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[OrderGuid] [nvarchar](100) NULL,
	[Name] [nvarchar](500) NOT NULL,
	[OrderComments] [nvarchar](4000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[Coupon] [nvarchar](100) NULL,
	[Token] [nvarchar](100) NULL,
	[Price] [nvarchar](100) NULL,
	[PaidPrice] [nvarchar](100) NULL,
	[Installment] [nvarchar](100) NULL,
	[Currency] [nvarchar](50) NULL,
	[PaymentId] [nvarchar](100) NULL,
	[PaymentStatus] [nvarchar](100) NULL,
	[FraudStatus] [int] NULL,
	[MerchantCommissionRate] [nvarchar](100) NULL,
	[MerchantCommissionRateAmount] [nvarchar](100) NULL,
	[IyziCommissionRateAmount] [nvarchar](100) NULL,
	[IyziCommissionFee] [nvarchar](100) NULL,
	[CardType] [nvarchar](100) NULL,
	[CardAssociation] [nvarchar](100) NULL,
	[CardFamily] [nvarchar](100) NULL,
	[CardToken] [nvarchar](200) NULL,
	[CardUserKey] [nvarchar](100) NULL,
	[BinNumber] [nvarchar](100) NULL,
	[LastFourDigits] [nvarchar](100) NULL,
	[BasketId] [nvarchar](100) NULL,
	[ConversationId] [nvarchar](100) NULL,
	[ConnectorName] [nvarchar](100) NULL,
	[AuthCode] [nvarchar](100) NULL,
	[HostReference] [nvarchar](100) NULL,
	[Phase] [nvarchar](100) NULL,
	[Status] [nvarchar](100) NULL,
	[ErrorCode] [nvarchar](100) NULL,
	[ErrorMessage] [nvarchar](500) NULL,
	[Locale] [nvarchar](100) NULL,
	[SystemTime] [bigint] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ShortDescription] [nvarchar](4000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageState] [bit] NULL,
	[MainPage] [bit] NULL,
	[MainImageId] [int] NULL,
	[Lang] [int] NOT NULL,
	[TemplateId] [int] NULL,
	[DiscountPercantage] [float] NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductComments]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Review] [nvarchar](4000) NOT NULL,
	[Rating] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NOT NULL,
 CONSTRAINT [PK_ProductComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductFiles]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[FileStorageId] [int] NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_ProductFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[NameLong] [nvarchar](1000) NULL,
	[NameShort] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](4000) NULL,
	[MainPage] [bit] NOT NULL,
	[ImageState] [bit] NOT NULL,
	[MainImageId] [int] NULL,
	[ProductCategoryId] [int] NOT NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL,
	[ProductCode] [nvarchar](255) NULL,
	[Lang] [int] NOT NULL,
	[VideoUrl] [nvarchar](1000) NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[IsCampaign] [bit] NULL,
	[AddUserId] [nvarchar](100) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[Rating]  AS ([dbo].[ProductRating]([Id])),
	[ProductColorOptions] [nvarchar](1000) NULL,
	[ProductSizeOptions] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Value] [nvarchar](1000) NOT NULL,
	[Unit] [nvarchar](1000) NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_ProductSpecifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_ProductTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SettingKey] [nvarchar](255) NOT NULL,
	[SettingValue] [nvarchar](4000) NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderGuid] [nvarchar](100) NULL,
	[ShoppingCartJson] [nvarchar](max) NULL,
	[Name] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Position] [int] NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_ShoppingCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShortUrls]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShortUrls](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[Name] [nvarchar](2000) NULL,
	[UrlKey] [nvarchar](100) NULL,
	[Url] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[RequestCount] [int] NULL,
	[IsActive] [bit] NULL,
	[Position] [int] NULL,
	[Lang] [nvarchar](10) NULL,
 CONSTRAINT [PK_ShortUrls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoryCategoryId] [int] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[AuthorName] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MainPage] [bit] NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageState] [bit] NULL,
	[IsFeaturedStory] [bit] NULL,
	[MainImageId] [int] NULL,
	[Lang] [int] NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Stories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryCategories]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageState] [bit] NOT NULL,
	[MainImageId] [int] NULL,
	[Lang] [int] NOT NULL,
	[PageTheme] [nvarchar](50) NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_StoryCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryFiles]    Script Date: 12/19/2020 1:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NULL,
	[FileStorageId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NULL,
 CONSTRAINT [PK_StoryFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryTags]    Script Date: 12/19/2020 1:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NULL,
	[TagId] [int] NULL,
 CONSTRAINT [PK_StoryTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 12/19/2020 1:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Email] [nvarchar](500) NULL,
	[Lang] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Subscribers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagCategories]    Script Date: 12/19/2020 1:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NOT NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/19/2020 1:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagCategoryId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[Lang] [int] NOT NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 12/19/2020 1:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[TemplateXml] [nvarchar](max) NULL,
	[Lang] [int] NOT NULL,
	[UpdateUserId] [nvarchar](100) NULL,
	[AddUserId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Name], [Street], [District], [ZipCode], [City], [Country], [Description], [AddressType], [IsActive], [CreatedDate], [UpdatedDate], [Position], [Lang]) VALUES (2000, N'Prisoner.ever123 Prisoner.ever123', N'DOĞAKENT SİTESİ AKASYA BLOK NO: 20 İÇ KAPI NO: 15', N'Tuzla', N'34953', N'Istanbul', N'Turkiye', N'AYDINLI MAH. DOĞAKENT SİTESİ AKASYA BLOK NO: 20 İÇ KAPI NO: 15 TUZLA / İSTANBUL', 1, 1, CAST(N'2020-08-08T14:13:19.843' AS DateTime), CAST(N'2020-08-08T14:13:19.843' AS DateTime), 1, 1)
INSERT [dbo].[Addresses] ([Id], [Name], [Street], [District], [ZipCode], [City], [Country], [Description], [AddressType], [IsActive], [CreatedDate], [UpdatedDate], [Position], [Lang]) VALUES (2001, N'Prisoner.ever123 Prisoner.ever123', N'DOĞAKENT SİTESİ AKASYA BLOK NO: 20 İÇ KAPI NO: 15', N'Tuzla', N'34953', N'Istanbul', N'Turkiye', N'AYDINLI MAH. DOĞAKENT SİTESİ AKASYA BLOK NO: 20 İÇ KAPI NO: 15 TUZLA / İSTANBUL', 2, 1, CAST(N'2020-08-08T14:13:19.860' AS DateTime), CAST(N'2020-08-08T14:13:19.860' AS DateTime), 1, 1)
INSERT [dbo].[Addresses] ([Id], [Name], [Street], [District], [ZipCode], [City], [Country], [Description], [AddressType], [IsActive], [CreatedDate], [UpdatedDate], [Position], [Lang]) VALUES (2002, N'Prisoner.ever123 Prisoner.ever123', N'DOĞAKENT SİTESİ AKASYA BLOK NO: 20 İÇ KAPI NO: 15', N'Tuzla', N'34953', N'Istanbul', N'Turkiye', N'AYDINLI MAH. DOĞAKENT SİTESİ AKASYA BLOK NO: 20 İÇ KAPI NO: 15 TUZLA / İSTANBUL', 1, 1, CAST(N'2020-08-08T14:57:59.017' AS DateTime), CAST(N'2020-08-08T14:57:59.017' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[AppLogs] ON 

GO
SET IDENTITY_INSERT [dbo].[AppLogs] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'NormalUser')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Customer')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'145cbe4c-cc03-454f-8e39-4f803f903cbf', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2c04fe89-6179-4194-b2cb-d77c9f7f6d25', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3bbd5c72-4e35-44a7-9eff-b5b8ff9b6c86', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'145cbe4c-cc03-454f-8e39-4f803f903cbf', N'huseyin.atmaca@gmail.com', 1, N'AB53b9Of5UTc2wTYTL+Zem+iBFQi5fz6ud4tIfumakIoS7EB8fLPHEFRtWfhj+bLvA==', N'77e2e02c-1d8b-461f-b2ca-ec130014eb4c', NULL, 0, 0, NULL, 1, 0, N'huseyin.atmaca@gmail.com', N'Huseyin', N'Atmaca')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'2c04fe89-6179-4194-b2cb-d77c9f7f6d25', N'mmyuce@gmail.com', 1, N'AFxtRes+/8qamuqYiHa5HyUMTSC9w5BGYUaQVP72lE40aWC8OkfdNUqKxk1PgExxQA==', N'c687140e-d549-4756-badd-bfc0ef3b15ea', NULL, 0, 0, NULL, 1, 0, N'mmyuce@gmail.com', N'mehmet', N'123.q456-*=Eimece')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'3bbd5c72-4e35-44a7-9eff-b5b8ff9b6c86', N'prisoner.ever@gmail.com', 0, N'ABDikK1tw5H+riHkgFGRhhmMlC7sBKxCO2RXMVESx27O8PmoWe0e+rJNFNyqbfJf1g==', N'22a02933-1fd5-405d-9df3-b50cef2fb5a6', NULL, 0, 0, NULL, 1, 0, N'prisoner.ever@gmail.com', N'EMIN YUCE', N'YUCE')
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [MainPage], [Position], [Description], [ImageState], [MainImageId], [Lang], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (3005, N'Angelic Silk', CAST(N'2020-10-20T16:00:11.000' AS DateTime), CAST(N'2020-12-02T13:36:30.823' AS DateTime), 1, 0, 1, NULL, 1, NULL, 1, NULL, N'eminyuce@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [Name], [Company], [GsmNumber], [IdentityNumber], [Ip], [IsActive], [CreatedDate], [UpdatedDate], [Position], [Lang], [IsPermissionGranted], [Gender], [City], [Town], [District], [Street], [ZipCode], [Country], [Description]) VALUES (1005, N'b33bdc17-1cfd-437f-ba34-3ee0f4366795', N'Nihat', NULL, N'5551231234', N'', N'88.236.135.65', 1, CAST(N'2020-08-23T15:24:25.617' AS DateTime), CAST(N'2020-08-23T15:24:25.617' AS DateTime), 1, 1, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [UserId], [Name], [Company], [GsmNumber], [IdentityNumber], [Ip], [IsActive], [CreatedDate], [UpdatedDate], [Position], [Lang], [IsPermissionGranted], [Gender], [City], [Town], [District], [Street], [ZipCode], [Country], [Description]) VALUES (1013, N'3bbd5c72-4e35-44a7-9eff-b5b8ff9b6c86', N'EMIN YUCE', NULL, N'34953', N'381089344', N'176.88.106.104', 1, CAST(N'2020-08-30T23:44:04.000' AS DateTime), CAST(N'2020-09-06T21:39:19.873' AS DateTime), 0, 1, 1, 2, N'Istanbul', N'Tuzla', N'AYDINLI MAH.', N'Yabangulu Sok.', N'34953', N'Türkiye', N'NO: 20 İÇ KAPI NO: 15')
INSERT [dbo].[Customers] ([Id], [UserId], [Name], [Company], [GsmNumber], [IdentityNumber], [Ip], [IsActive], [CreatedDate], [UpdatedDate], [Position], [Lang], [IsPermissionGranted], [Gender], [City], [Town], [District], [Street], [ZipCode], [Country], [Description]) VALUES (1015, N'409085d5-ea6e-4520-bed4-446f42f65983', N'Mehmet', NULL, N'5330000000', NULL, N'88.253.43.37', 1, CAST(N'2020-09-01T22:58:22.000' AS DateTime), CAST(N'2020-09-04T16:44:53.080' AS DateTime), 0, 1, 1, 2, N'İstanbul', N'Maltepe', N'Altayçeşme', N'Öz', N'34843', N'Türkiye', N'Yaşamkent Sitesi Zümrüt Blok No:4')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[db_error_LearningErrorLog] ON 

INSERT [dbo].[db_error_LearningErrorLog] ([ErrorID], [ErrorNumber], [ErrorDescription], [ErrorProcedure], [ErrorState], [ErrorSeverity], [ErrorLine], [ErrorTime]) VALUES (1, N'8134', N'Divide by zero error encountered.', N'MathCalculation', 1, 16, 10, CAST(N'2017-12-06T13:51:29.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[db_error_LearningErrorLog] OFF
SET IDENTITY_INSERT [dbo].[Faqs] ON 

INSERT [dbo].[Faqs] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [Question], [Answer], [AddUserId], [UpdateUserId]) VALUES (2, N'How can I contact sellers directly?', CAST(N'2020-07-26T20:55:31.887' AS DateTime), CAST(N'2020-07-26T20:55:31.887' AS DateTime), 1, 0, 1, N'How can I contact sellers directly?', N'TEST ANSWER', N'eminyuce@gmail.com', N'eminyuce@gmail.com')
INSERT [dbo].[Faqs] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [Question], [Answer], [AddUserId], [UpdateUserId]) VALUES (3, N'How long will delivery take?', CAST(N'2020-07-28T19:40:21.100' AS DateTime), CAST(N'2020-07-28T19:40:21.100' AS DateTime), 1, 0, 1, N'How long will delivery take?', N'TEST ANSWER', N'eminyuce@gmail.com', N'eminyuce@gmail.com')
INSERT [dbo].[Faqs] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [Question], [Answer], [AddUserId], [UpdateUserId]) VALUES (5, N'Do you ship internationally?', CAST(N'2020-07-28T19:40:43.380' AS DateTime), CAST(N'2020-07-28T19:40:43.380' AS DateTime), 1, 0, 1, N'Do you ship internationally?', N'TEST ANSWER', N'eminyuce@gmail.com', N'eminyuce@gmail.com')
SET IDENTITY_INSERT [dbo].[Faqs] OFF
SET IDENTITY_INSERT [dbo].[FileStorages] ON 

INSERT [dbo].[FileStorages] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [FileName], [FileUrl], [MimeType], [FileSize], [Width], [Height], [Type], [Lang], [IsFileExist]) VALUES (2258, N'marasca-250-ml-m.png', CAST(N'2017-03-08T16:22:45.687' AS DateTime), CAST(N'2017-03-08T16:22:45.687' AS DateTime), 1, 1, N'marasca-250-ml-m_1275517154.png', NULL, N'image/png', 174829, 600, 332, N'ProductMainImage', 1, 1)
INSERT [dbo].[FileStorages] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [FileName], [FileUrl], [MimeType], [FileSize], [Width], [Height], [Type], [Lang], [IsFileExist]) VALUES (2260, N'marasca-250-ml--a.jpg', CAST(N'2017-03-08T16:22:46.100' AS DateTime), CAST(N'2017-03-08T16:22:46.100' AS DateTime), 1, 1, N'marasca-250-ml--a_2083566678.jpg', NULL, N'image/jpeg', 13833, 550, 550, N'ProductMainImage', 1, 1)
INSERT [dbo].[FileStorages] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [FileName], [FileUrl], [MimeType], [FileSize], [Width], [Height], [Type], [Lang], [IsFileExist]) VALUES (2270, N'marasca-500-ml--a.jpg', CAST(N'2017-03-08T16:22:57.537' AS DateTime), CAST(N'2017-03-08T16:22:57.537' AS DateTime), 1, 1, N'marasca-500-ml--a_660050037.jpg', NULL, N'image/jpeg', 14166, 550, 550, N'ProductMainImage', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[FileStorages] OFF
SET IDENTITY_INSERT [dbo].[FileStorageTags] ON 

INSERT [dbo].[FileStorageTags] ([Id], [FileStorageId], [TagId]) VALUES (2143, 5743, 0)
INSERT [dbo].[FileStorageTags] ([Id], [FileStorageId], [TagId]) VALUES (2144, 5744, 0)
INSERT [dbo].[FileStorageTags] ([Id], [FileStorageId], [TagId]) VALUES (2145, 5745, 0)
SET IDENTITY_INSERT [dbo].[FileStorageTags] OFF
SET IDENTITY_INSERT [dbo].[ListItems] ON 

INSERT [dbo].[ListItems] ([Id], [ListId], [Name], [Value], [Position], [IsActive], [CreatedDate], [UpdatedDate], [Lang]) VALUES (1016, 1002, N'Kirmizi', N'Kirmizi', 1, 0, CAST(N'2020-12-12T11:18:20.960' AS DateTime), CAST(N'2020-12-12T11:18:20.960' AS DateTime), 1)
INSERT [dbo].[ListItems] ([Id], [ListId], [Name], [Value], [Position], [IsActive], [CreatedDate], [UpdatedDate], [Lang]) VALUES (1017, 1002, N'Beyaz', N'Beyaz', 2, 0, CAST(N'2020-12-12T11:18:20.960' AS DateTime), CAST(N'2020-12-12T11:18:20.960' AS DateTime), 1)
INSERT [dbo].[ListItems] ([Id], [ListId], [Name], [Value], [Position], [IsActive], [CreatedDate], [UpdatedDate], [Lang]) VALUES (1018, 1002, N'Mavi', N'Mavi', 3, 0, CAST(N'2020-12-12T11:18:20.977' AS DateTime), CAST(N'2020-12-12T11:18:20.977' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ListItems] OFF
SET IDENTITY_INSERT [dbo].[Lists] ON 

INSERT [dbo].[Lists] ([Id], [Name], [IsService], [IsValues], [CreatedDate], [UpdatedDate], [Position], [IsActive], [Lang]) VALUES (1002, N'Renkler', 0, 1, CAST(N'2020-10-25T18:00:17.000' AS DateTime), CAST(N'2020-12-12T11:18:20.960' AS DateTime), 0, 1, 1)
INSERT [dbo].[Lists] ([Id], [Name], [IsService], [IsValues], [CreatedDate], [UpdatedDate], [Position], [IsActive], [Lang]) VALUES (2002, N'Hayvan İsimleri', 0, 0, CAST(N'2020-12-12T11:20:45.000' AS DateTime), CAST(N'2020-12-16T14:29:49.820' AS DateTime), 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Lists] OFF
SET IDENTITY_INSERT [dbo].[MailTemplates] ON 

SET IDENTITY_INSERT [dbo].[MailTemplates] OFF
SET IDENTITY_INSERT [dbo].[MainPageImages] ON 

INSERT [dbo].[MainPageImages] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [Link], [MainImageId], [Lang], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (1059, N'Bebek Ürünleri', CAST(N'2020-07-19T08:30:25.000' AS DateTime), CAST(N'2020-12-18T19:58:12.483' AS DateTime), 1, 1, NULL, 1, N'/c/pc/bebek-urunleri-2d6g2d8c/', 7807, 1, NULL, N'eminyuce@gmail.com', NULL)
INSERT [dbo].[MainPageImages] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [Link], [MainImageId], [Lang], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (1060, N'İpek Dolgulu Ürünler', CAST(N'2020-08-29T22:30:09.000' AS DateTime), CAST(N'2020-12-18T19:57:28.737' AS DateTime), 1, 0, NULL, 1, N'/c/pc/ipek-dolgulu-urunler-9a6g2d8c/', 7828, 1, NULL, N'eminyuce@gmail.com', NULL)
INSERT [dbo].[MainPageImages] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [Link], [MainImageId], [Lang], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (1061, N'İpek Ürünler', CAST(N'2020-09-04T17:07:48.000' AS DateTime), CAST(N'2020-12-18T19:57:54.667' AS DateTime), 1, 1, NULL, 1, N'/c/pc/ipek-urunler-1b6g2d8c/', 8980, 1, N'seo', N'eminyuce@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[MainPageImages] OFF
SET IDENTITY_INSERT [dbo].[MenuFiles] ON 

INSERT [dbo].[MenuFiles] ([Id], [MenuId], [FileStorageId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (6, 3147, 8986, N'47109wide_478770738.jpg', CAST(N'2020-12-12T19:55:16.873' AS DateTime), CAST(N'2020-12-12T19:55:16.873' AS DateTime), 1, 1, 1)
INSERT [dbo].[MenuFiles] ([Id], [MenuId], [FileStorageId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (7, 3147, 8987, N'4129111b850a1aaf6a26635aeb24234c_942539304.jpg', CAST(N'2020-12-12T19:55:17.267' AS DateTime), CAST(N'2020-12-12T19:55:17.267' AS DateTime), 1, 1, 1)
INSERT [dbo].[MenuFiles] ([Id], [MenuId], [FileStorageId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (8, 3147, 8988, N'071048d1d709d3c39928ca5d8c4274df-700_396804726.jpg', CAST(N'2020-12-12T19:55:17.470' AS DateTime), CAST(N'2020-12-12T19:55:17.470' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[MenuFiles] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [ParentId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [MainPage], [LinkIsActive], [Link], [MainImageId], [MenuLink], [PageTheme], [Lang], [MetaKeywords], [AddUserId], [UpdateUserId]) VALUES (3116, 3142, N'Teslimat ve Kargo', CAST(N'2020-10-18T13:45:06.000' AS DateTime), CAST(N'2020-12-05T18:13:58.127' AS DateTime), 1, 2, N'<p>Teslimat Bilgisi</p>', 1, 0, 0, NULL, NULL, N'info-deliveryinfo', NULL, 1, NULL, NULL, N'eminyuce@gmail.com')
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[OrderProducts] ON 

INSERT [dbo].[OrderProducts] ([Id], [OrderId], [ProductId], [Quantity], [TotalPrice], [ProductSpecItems]) VALUES (2029, 2024, 13834, 1, 500, N'[]')
INSERT [dbo].[OrderProducts] ([Id], [OrderId], [ProductId], [Quantity], [TotalPrice], [ProductSpecItems]) VALUES (2030, 2024, 13860, 2, 996, N'[]')
INSERT [dbo].[OrderProducts] ([Id], [OrderId], [ProductId], [Quantity], [TotalPrice], [ProductSpecItems]) VALUES (2031, 2024, 13861, 3, 1500, N'[]')
SET IDENTITY_INSERT [dbo].[OrderProducts] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [ParentId], [Name], [ShortDescription], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [MainPage], [MainImageId], [Lang], [TemplateId], [DiscountPercantage], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (2360, 0, N'İpek Dolgulu Ürünler', N'İpek Dolgulu Ürünler', CAST(N'2020-11-29T09:01:05.000' AS DateTime), CAST(N'2020-12-12T19:57:31.013' AS DateTime), 1, 1, NULL, 1, 1, 8972, 1, 0, NULL, NULL, N'eminyuce@gmail.com', NULL)
INSERT [dbo].[ProductCategories] ([Id], [ParentId], [Name], [ShortDescription], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [MainPage], [MainImageId], [Lang], [TemplateId], [DiscountPercantage], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (2362, 0, N'Avantajlı Setler', NULL, CAST(N'2020-11-29T09:01:32.000' AS DateTime), CAST(N'2020-12-12T16:21:58.687' AS DateTime), 1, 4, NULL, 1, 1, 8975, 1, 1026, NULL, NULL, N'eminyuce@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[ProductComments] ON 

INSERT [dbo].[ProductComments] ([Id], [ProductId], [Name], [Email], [Subject], [Review], [Rating], [UserId], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (5008, 13848, N'Ahmet Erdemoğlu', N'mail@mail.com', N'Yorum test', N'Yorum test yapıldı..', 5, N'', CAST(N'2020-12-06T01:20:45.330' AS DateTime), CAST(N'2020-12-06T01:20:45.330' AS DateTime), 0, 1, 1)
INSERT [dbo].[ProductComments] ([Id], [ProductId], [Name], [Email], [Subject], [Review], [Rating], [UserId], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (5009, 13869, N'HWnJjkCT', N'lenardmcdonald375@gmail.com', N'FdpStJxQK', N'rbjfXiyhgFCTldYz', 1, N'', CAST(N'2020-12-14T07:24:29.780' AS DateTime), CAST(N'2020-12-14T07:24:29.780' AS DateTime), 0, 1, 1)
INSERT [dbo].[ProductComments] ([Id], [ProductId], [Name], [Email], [Subject], [Review], [Rating], [UserId], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (5010, 13869, N'ZiEBzFopk', N'lenardmcdonald375@gmail.com', N'ETBGrwsYpfkFi', N'erSgZlQvqsVBcNI', 1, N'', CAST(N'2020-12-14T07:24:32.293' AS DateTime), CAST(N'2020-12-14T07:24:32.293' AS DateTime), 0, 1, 1)
SET IDENTITY_INSERT [dbo].[ProductComments] OFF
SET IDENTITY_INSERT [dbo].[ProductFiles] ON 

INSERT [dbo].[ProductFiles] ([Id], [ProductId], [FileStorageId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (3125, 13834, 8827, N'01-no-image_1803449958.jpg', CAST(N'2020-12-02T12:55:43.093' AS DateTime), CAST(N'2020-12-02T12:55:43.093' AS DateTime), 1, 1, 1)
INSERT [dbo].[ProductFiles] ([Id], [ProductId], [FileStorageId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (3126, 13834, 8856, N'002_508085101.jpg', CAST(N'2020-12-10T01:13:10.660' AS DateTime), CAST(N'2020-12-10T01:13:10.660' AS DateTime), 1, 1, 1)
INSERT [dbo].[ProductFiles] ([Id], [ProductId], [FileStorageId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang]) VALUES (3127, 13803, 8858, N'001_887432713.jpg', CAST(N'2020-12-10T01:16:56.527' AS DateTime), CAST(N'2020-12-10T01:16:56.527' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[ProductFiles] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductSpecifications] ON 

INSERT [dbo].[ProductSpecifications] ([Id], [ProductId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Value], [Unit], [Lang]) VALUES (3063, 13768, N'Ürün Çeşidi', CAST(N'2020-12-02T10:34:11.537' AS DateTime), CAST(N'2020-12-02T10:34:11.537' AS DateTime), 1, 1, N'%100 Saf İpek Bebek Yastığı ', NULL, 1)
INSERT [dbo].[ProductSpecifications] ([Id], [ProductId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Value], [Unit], [Lang]) VALUES (3064, 13768, N'Dolgu', CAST(N'2020-12-02T10:34:11.537' AS DateTime), CAST(N'2020-12-02T10:34:11.537' AS DateTime), 1, 2, N'%100 Saf En İyi Kalite A Sınıfı Uzun Lifli Dut İpeği', NULL, 1)
INSERT [dbo].[ProductSpecifications] ([Id], [ProductId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Value], [Unit], [Lang]) VALUES (3065, 13768, N'Kılıf', CAST(N'2020-12-02T10:34:11.537' AS DateTime), CAST(N'2020-12-02T10:34:11.537' AS DateTime), 1, 3, N'%100 Pamuk (Düz Kumaş)', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductSpecifications] OFF
SET IDENTITY_INSERT [dbo].[ProductTags] ON 

INSERT [dbo].[ProductTags] ([Id], [TagId], [ProductId]) VALUES (3400, 2105, 13768)
INSERT [dbo].[ProductTags] ([Id], [TagId], [ProductId]) VALUES (3401, 105, 13768)
INSERT [dbo].[ProductTags] ([Id], [TagId], [ProductId]) VALUES (3408, 2105, 13845)
SET IDENTITY_INSERT [dbo].[ProductTags] OFF
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [SettingKey], [SettingValue], [Lang]) VALUES (3047, N'AdminEmailHost', CAST(N'2020-11-16T23:35:31.607' AS DateTime), CAST(N'2020-12-17T15:20:10.267' AS DateTime), 1, 0, N'SystemSettings', N'AdminEmailHost', N'srvm11.trwww.com', 0)
INSERT [dbo].[Settings] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [SettingKey], [SettingValue], [Lang]) VALUES (3048, N'AdminEmailPassword', CAST(N'2020-11-16T23:35:31.653' AS DateTime), CAST(N'2020-12-17T15:20:10.560' AS DateTime), 1, 0, N'SystemSettings', N'AdminEmailPassword', N'7mPNm66s', 0)
INSERT [dbo].[Settings] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [SettingKey], [SettingValue], [Lang]) VALUES (3049, N'AdminEmailEnableSsl', CAST(N'2020-11-16T23:35:31.653' AS DateTime), CAST(N'2020-12-17T15:20:10.560' AS DateTime), 1, 0, N'SystemSettings', N'AdminEmailEnableSsl', N'True', 0)
SET IDENTITY_INSERT [dbo].[Settings] OFF
SET IDENTITY_INSERT [dbo].[ShoppingCarts] ON 

SET IDENTITY_INSERT [dbo].[ShoppingCarts] OFF
SET IDENTITY_INSERT [dbo].[Stories] ON 

INSERT [dbo].[Stories] ([Id], [StoryCategoryId], [Name], [AuthorName], [CreatedDate], [UpdatedDate], [IsActive], [MainPage], [Position], [Description], [ImageState], [IsFeaturedStory], [MainImageId], [Lang], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (2010, 3, N'Kumaşların Kraliçesi İpek', NULL, CAST(N'2020-12-05T15:03:29.013' AS DateTime), CAST(N'2020-12-05T15:03:29.013' AS DateTime), 1, 0, 0, NULL, 1, 0, NULL, 1, NULL, N'eminyuce@gmail.com', N'eminyuce@gmail.com')
SET IDENTITY_INSERT [dbo].[Stories] OFF
SET IDENTITY_INSERT [dbo].[StoryCategories] ON 

INSERT [dbo].[StoryCategories] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Description], [ImageState], [MainImageId], [Lang], [PageTheme], [MetaKeywords], [UpdateUserId], [AddUserId]) VALUES (3, N'Ipek', CAST(N'2020-12-05T15:03:19.013' AS DateTime), CAST(N'2020-12-05T15:03:19.013' AS DateTime), 1, 0, NULL, 0, NULL, 1, NULL, NULL, N'eminyuce@gmail.com', N'eminyuce@gmail.com')
SET IDENTITY_INSERT [dbo].[StoryCategories] OFF
SET IDENTITY_INSERT [dbo].[TagCategories] ON 

INSERT [dbo].[TagCategories] ([Id], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [UpdateUserId], [AddUserId]) VALUES (2015, N'İpek Nevresim', CAST(N'2020-10-25T16:12:06.000' AS DateTime), CAST(N'2020-12-11T15:52:59.440' AS DateTime), 1, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TagCategories] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [TagCategoryId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [UpdateUserId], [AddUserId]) VALUES (105, 2015, N'İpek Nevresim', CAST(N'2020-06-21T12:34:32.000' AS DateTime), CAST(N'2020-12-11T15:53:58.287' AS DateTime), 1, 1, 1, NULL, NULL)
INSERT [dbo].[Tags] ([Id], [TagCategoryId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [UpdateUserId], [AddUserId]) VALUES (2105, 2015, N'İpek Nevresim Seti', CAST(N'2020-10-25T18:43:26.000' AS DateTime), CAST(N'2020-12-11T15:53:45.570' AS DateTime), 1, 0, 1, NULL, NULL)
INSERT [dbo].[Tags] ([Id], [TagCategoryId], [Name], [CreatedDate], [UpdatedDate], [IsActive], [Position], [Lang], [UpdateUserId], [AddUserId]) VALUES (3105, 2015, N'İpek Bebek Nevresim', CAST(N'2020-12-11T15:54:22.043' AS DateTime), CAST(N'2020-12-11T15:54:22.043' AS DateTime), 1, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[Templates] ON 

SET IDENTITY_INSERT [dbo].[Templates] OFF
ALTER TABLE [dbo].[AppLogs] ADD  CONSTRAINT [DF_AppLogs_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FileStorages] ADD  CONSTRAINT [DF_FileStorages_IsFileExist]  DEFAULT ((1)) FOR [IsFileExist]
GO
ALTER TABLE [dbo].[ListItems] ADD  CONSTRAINT [DF_ListItems_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ListItems] ADD  CONSTRAINT [DF_ListItems_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [DF_Menus_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Position]  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_Position]  DEFAULT ((1)) FOR [Position]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_ImageState]  DEFAULT ((0)) FOR [ImageState]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_MainPage]  DEFAULT ((0)) FOR [MainPage]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_Lang]  DEFAULT ((1)) FOR [Lang]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Position]  DEFAULT ((1)) FOR [Position]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_MainPage]  DEFAULT ((1)) FOR [MainPage]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ImageState]  DEFAULT ((0)) FOR [ImageState]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ProductCategoryId]  DEFAULT ((0)) FOR [ProductCategoryId]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Lang]  DEFAULT ((1)) FOR [Lang]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsCampaign]  DEFAULT ((0)) FOR [IsCampaign]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ListItems]  WITH CHECK ADD  CONSTRAINT [FK_ListItems_Lists] FOREIGN KEY([ListId])
REFERENCES [dbo].[Lists] ([Id])
GO
ALTER TABLE [dbo].[ListItems] CHECK CONSTRAINT [FK_ListItems_Lists]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_Order_Products_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_Order_Products_Products]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Orders]
GO
ALTER TABLE [dbo].[ProductFiles]  WITH CHECK ADD  CONSTRAINT [FK_ProductFiles_FileStorages] FOREIGN KEY([FileStorageId])
REFERENCES [dbo].[FileStorages] ([Id])
GO
ALTER TABLE [dbo].[ProductFiles] CHECK CONSTRAINT [FK_ProductFiles_FileStorages]
GO
ALTER TABLE [dbo].[ProductFiles]  WITH CHECK ADD  CONSTRAINT [FK_ProductFiles_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductFiles] CHECK CONSTRAINT [FK_ProductFiles_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_ProductSpecifications_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_ProductSpecifications_Products]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_ProductTags_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_ProductTags_Products]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_StoryCategories] FOREIGN KEY([StoryCategoryId])
REFERENCES [dbo].[StoryCategories] ([Id])
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_StoryCategories]
GO
