<!-- Page Content-->
<div class="container-fluid pb-4 mb-3">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-grid-gutter"><a class="card scroll-to" href="#map">
                <div class="card-body">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><i data-feather="map-pin"></i></div>
                        <h3 class="icon-box-title">Main store address</h3>
                        <p class="icon-box-text pb-2">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <div class="text-primary font-weight-semibold font-size-sm">Click to see map<i class="ml-1" data-feather="arrow-right" style="width: 1rem; height: 1rem;"></i></div>
                    </div>
                </div>
            </a></div>
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <div class="card">
                <div class="card-body">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><i data-feather="clock"></i></div>
                        <h3 class="icon-box-title">Working hours</h3>
                        <ul class="list-unstyled icon-box-text pb-2">
                            <li>Mon - Fri: 10AM - 19PM</li>
                            <li>Sat: 11AM - 17PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <div class="card">
                <div class="card-body">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><i data-feather="phone"></i></div>
                        <h3 class="icon-box-title">Phone numbers</h3>
                        <ul class="list-unstyled icon-box-text pb-2">
                            <li>Customer service:&nbsp;<a class="nav-link-inline" href="tel:+108044357260">+1 (080) 44 357 260</a></li>
                            <li>Tech support:&nbsp;<a class="nav-link-inline" href="tel:+100331697720">+1 00 33 169 7720</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <div class="card">
                <div class="card-body">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><i data-feather="mail"></i></div>
                        <h3 class="icon-box-title">Email addresses</h3>
                        <ul class="list-unstyled icon-box-text pb-2">
                            <li>Customer service:&nbsp;<a class="nav-link-inline" href="mailto:customer@example.com">customer@example.com</a></li>
                            <li>Tech support:&nbsp;<a class="nav-link-inline" href="mailto:support@example.com">support@example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Outlet stores-->
<div class="container">
    <h2 class="h3 text-center mb-4">Partner outlet stores</h2>
    <div class="row pt-3">
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-size-lg card-title mb-3 py-1">Orlando, USA</h5>
                    <ul class="contact-list">
                        <li>
                            <div class="contact-icon"><i data-feather="map-pin"></i></div>
                            <div class="contact-details"><span class="contact-label">Find us</span><a class="contact-link" href="#">514 S. Magnolia St. Orlando, FL 32806, USA</a></div>
                        </li>
                        <li>
                            <div class="contact-icon"><i data-feather="phone"></i></div>
                            <div class="contact-details"><span class="contact-label">Call us</span><a class="contact-link" href="tel:+178632256040">+1 (786) 322 560 40</a></div>
                        </li>
                        <li>
                            <div class="contact-icon"><i data-feather="mail"></i></div>
                            <div class="contact-details"><span class="contact-label">Write us</span><a class="contact-link" href="mailto:orlando@example.com">orlando@example.com</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-size-lg card-title mb-3 py-1">Chicago, USA</h5>
                    <ul class="contact-list">
                        <li>
                            <div class="contact-icon"><i data-feather="map-pin"></i></div>
                            <div class="contact-details"><span class="contact-label">Find us</span><a class="contact-link" href="#">769, Industrial Dr, West Chicago, IL 60185, USA</a></div>
                        </li>
                        <li>
                            <div class="contact-icon"><i data-feather="phone"></i></div>
                            <div class="contact-details"><span class="contact-label">Call us</span><a class="contact-link" href="tel:+184725276533">+1 (847) 252 765 33</a></div>
                        </li>
                        <li>
                            <div class="contact-icon"><i data-feather="mail"></i></div>
                            <div class="contact-details"><span class="contact-label">Write us</span><a class="contact-link" href="mailto:chicago@example.com">chicago@example.com</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-size-lg card-title mb-3 py-1">New York, USA</h5>
                    <ul class="contact-list">
                        <li>
                            <div class="contact-icon"><i data-feather="map-pin"></i></div>
                            <div class="contact-details"><span class="contact-label">Find us</span><a class="contact-link" href="#">396 Lillian Blvd, Holbrook, NY 11741, USA</a></div>
                        </li>
                        <li>
                            <div class="contact-icon"><i data-feather="phone"></i></div>
                            <div class="contact-details"><span class="contact-label">Call us</span><a class="contact-link" href="tel:+1212477690000">+1 (212) 477 690 000</a></div>
                        </li>
                        <li>
                            <div class="contact-icon"><i data-feather="mail"></i></div>
                            <div class="contact-details"><span class="contact-label">Write us</span><a class="contact-link" href="mailto:newyork@example.com">newyork@example.com</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>