@model EImece.Domain.Models.FrontModels.MenuPageViewModel
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers;
@{

    var menu = Model.Menu;
    var files = menu.MenuFiles.ToList();
    ViewBag.Title = menu.GetSeoTitle();
    ViewBag.Description = menu.GetSeoDescription();
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    var menuTags = menu.MenuFiles.SelectMany(r => r.FileStorage.FileStorageTags.Select(t => t.Tag)).Distinct();
    int Width = ViewData["Width"].ToInt(300);
    int Height = ViewData["Height"].ToInt(214);
    var desc = Model.Menu.Description;

}
<!-- Page Title-->
<div class="page-title-wrapper" aria-label="Page title">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @if (Model.MainPageMenu != null && Model.MainPageMenu.IsActive)
                {
                    <li>@Html.ActionLink(Model.MainPageMenu.Name, "Index", "Home")</li>
                }
            </ol>
        </nav>
        <h1 class="page-title">@Model.Menu.Name</h1><span class="d-block mt-2 text-muted"></span>
        <hr class="mt-4">
    </div>
</div>
@Html.Raw(HttpUtility.HtmlDecode(desc))

 
<!-- Split section: Map + Contact form-->
<div class="container-fluid px-0 pt-4 pt-lg-5" id="map" data-offset-top="30">
    <div class="row no-gutters">
        <div class="col-lg-6 iframe-full-height-wrap">
            <iframe class="iframe-full-height" width="600" height="250" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53357.14257194912!2d-73.07268695801845!3d40.78017062807504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e8483b8bffed93%3A0x53467ceb834b7397!2s396+Lillian+Blvd%2C+Holbrook%2C+NY+11741%2C+USA!5e0!3m2!1sen!2sua!4v1558703206875!5m2!1sen!2sua"></iframe>
        </div>
        <div class="col-lg-6 px-4 px-xl-5 py-5 border-top">
            <h2 class="h4 mb-4">Drop us a line</h2>
            @Html.Partial("_ContactUsFormViewModel", Model.Contact)
        </div>
    </div>
</div>



