@model EImece.Domain.Entities.Setting
@using Resources
@{
    ViewBag.Title = Resource.TermsAndConditions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        @Html.Raw(Model.Description)
    </div>