@model EImece.Domain.Entities.Subscriber
@using Resources
@{
    ViewBag.Title = Resource.ThanksForSubscription;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.ThanksForSubscription @Model.Email</h2>