@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers;
@model  Product

@{
    var baseContent = Model;
    int Width = ViewData["Width"].ToInt(150);
    int Height = ViewData["Height"].ToInt(0);
}
 
<span class="searchItemTitle">
    @Html.DisplayFor(model => baseContent.Name)
    <br>
    @Html.DisplayFor(model => baseContent.NameLong)
    <br>
    @Html.DisplayFor(model => baseContent.ProductCode)
</span>