@model EImece.Domain.Entities.Customer
@using Resources;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@{
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
    List<Order> orders = Model.Orders;
    if (orders.IsEmpty())
    {
        orders = new List<Order>();
    }
}

<!-- Page Content-->
<div class="container pt-lg-3 pb-5 mb-sm-3">
    <!-- Toast notifications-->
    <div class="toast-container toast-bottom-center">
        <div class="toast mb-3" id="profile-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="mr-2" data-feather="check-circle" style="width: 1.25rem; height: 1.25rem;"></i><span class="font-weight-semibold mr-auto">Updated!</span>
                <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="toast-body">@AdminResource.YourProfileUpdatedSuccessfully</div>
        </div>
    </div>
    <div class="row pt-5">
        <!-- Main content-->
         
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $("#datepicker").datepicker({
                minDate: -20,
                maxDate: "+1M +15D",
                dateFormat: 'mm.dd.yy'
            });
        });
    </script>
}