
@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>


<div ng-controller="ProductCategoriesTreeController as treeView" class="row" style="padding:20px;">

    <div class="col-md-3">
        <div data-angular-treeview="true"
             data-tree-id="ngTree"
             data-tree-model="ProductCategoryList"
             data-node-id="Id"
             data-ng-click="selectNode(ngTree.currentNode.Id)"
             data-node-label="Name"
             data-node-children="Childrens">
        </div>
    </div>
    <input type="text" value="" id="selectedTreeId" />
    <div class="col-md-9">

    </div>
</div>

<div ng-controller="CustomersController as vm">
    <h1>Customers</h1>
    <p>
        <input class="form-control" placeholder="Search by name" type="text" ng-model="vm.search" ng-model-options="{ debounce: 500 }" />
    </p>
    <table ng-table="vm.tableParams" class="table">
        <tr ng-repeat="product in $data">
            <td data-title="'Name'" data-sortable="'name'">{{product.Name}}</td>
            <td data-title="'ProductCode'" data-sortable="'productcode'">{{product.ProductCode}}</td>
        </tr>
    </table>
</div>


