
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

 

<div class="gridToolBox">
    <span>
        <input gridkey-id="1187" class="gridCheckboxes" name="checkboxGrid" type="checkbox">

    </span>
    <span>
        <a class="gridBtn btn  btn-default     glyphicon glyphicon-camera glyphicon-white " href="/admin/products/media/1187"> </a>
    </span>
    <span>
        <a class="gridBtn btn btn-primary   glyphicon glyphicon-pencil glyphicon-white " href="/admin/products/saveoredit/1187"> </a>
    </span>
    <span>
        <a class="gridBtn btn  btn-default   glyphicon glyphicon-plus" href="/admin/products/saveoreditproductspecs/1187"> </a>


    </span>
    <span>
        <a class="gridBtn btn btn-danger glyphicon  glyphicon-remove-circle" href="/admin/products/delete/1187"> </a>

    </span>

</div>