@model EImece.Domain.Models.AdminModels.ProductAdminModel
@using EImece.Domain.Entities;
@{
    var tagCategories = Model.TagCategories;
    var selectedTags = 
        Model.Product.ProductTags!= null ? 
        Model.Product.ProductTags : new List<ProductTag>();
}

<h2>_pProductTags</h2>


@foreach (TagCategory tagCategory in tagCategories)
{
    <h3>
        @tagCategory.Name
    </h3>
    <div>
        @foreach (var tag in tagCategory.Tags)
        {
            <div>
                <input type="checkbox" @String.Format("{0}", selectedTags.Any(t => t.TagId == tag.Id) ? "checked='checked'" : "") name="tags" value="@tag.Id" /> @tag.Name
            </div>
        }
    </div>
}
