@model EImece.Domain.Models.AdminModels.ProductAdminModel
@using EImece.Domain.Entities;
@{
    var tagCategories = Model.TagCategories;
    var selectedTags =
        Model.Product.ProductTags!= null ?
        Model.Product.ProductTags : new List<ProductTag>();
}

@foreach (TagCategory tagCategory in tagCategories)
{

    <span class="tags-checkboxes-flow">
        @foreach (var tag in tagCategory.Tags)
        {
            <span>
                <input  type="checkbox" @String.Format("{0}", selectedTags.Any(t => t.TagId == tag.Id) ? "checked='checked'" : "") name="tags" value="@tag.Id" /> @tag.Name
            </span>
        }
    </span>
}