@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Upload Excel File</h2>
@using (Html.BeginForm("ExcelUploadImport", "ImportData", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
       <input type="file" name="excelFile" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
}