@model List<String>
@{
    ViewBag.Title = "Contact3";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pathName = (String)ViewBag.PathName;
}

<h2>File List</h2>
@Html.ActionLink("File Upload","ExcelUpload")
@foreach (var m in Model)
{

    <div>
@Html.ActionLink(m.Replace(pathName, ""), "DisplayTable", new { id=m.Replace(pathName,"") })
    </div>
}