@using Resources;
@{
    ViewBag.Title = Resource.ForgotPasswordConfirmation;
}

<div class="container pb-5 mb-sm-4">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-8 col-md-10 mt-sm-3">
            <h2>@ViewBag.Title</h2>
            <!-- Login -->
                <p style="color:black">
                    @Resource.ForgotPasswordConfirmationText
                </p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}