@using System;
@using System.Collections;
@using System.Collections.Generic;
@using System.Linq;
@model EImece.Controllers.HomeController.AllCacheList


@{



}
@foreach (var item in Model.memoryCacheKey)
{
    <div>
        @item.Name
        <hr />
    </div>
}
@foreach (var item in Model.httpRuntimeKey)
{
    <div>
        @item.Name
        <hr />
    </div>
}