@using System;
@using System.Collections;
@using System.Collections.Generic;
@using System.Linq;
@model EImece.Controllers.HomeController.AllCacheList


@{



}
<div class="container">
    <h2>Memory Cache Key: @Model.MemoryCacheKey.Count</h2>
    @foreach (var item in Model.MemoryCacheKey)
    {
        <div>
            @item
            <hr />
        </div>
    }
    <h2>http Runtime Key: @Model.HttpRuntimeKey.Count</h2>
    @foreach (var item in Model.HttpRuntimeKey)
    {
        <div>
            @item
            <hr />
        </div>
    }
</div>
